<template>
    <div id="Grupo_12">
        <svg class="Trazado_56" viewBox="539.236 364.922 173.319 42.029">
            <path id="Trazado_56" d="M 704.2366333007813 364.9219970703125 L 547.5538940429688 364.9219970703125 C 542.961669921875 364.9261474609375 539.2398681640625 368.6478881835938 539.2357177734375 373.2401733398438 L 539.2357177734375 398.6324157714844 C 539.2398681640625 403.2246704101563 542.961669921875 406.9464111328125 547.5538940429688 406.9505920410156 L 704.2366333007813 406.9505615234375 C 708.8289184570313 406.9464416503906 712.5506591796875 403.2246704101563 712.5548095703125 398.6324462890625 L 712.5548095703125 373.2405090332031 C 712.5508422851563 368.6481018066406 708.8290405273438 364.9261474609375 704.2366333007813 364.9219970703125 Z">
            </path>
        </svg>
        <svg class="Trazado_57" viewBox="312.915 653.542 63.333 0.997">
            <path id="Trazado_57" d="M 375.7489013671875 654.5393676757813 L 313.4136962890625 654.5393676757813 C 313.1383056640625 654.5393676757813 312.9150085449219 654.3161010742188 312.9150085449219 654.0406494140625 C 312.9150085449219 653.7652587890625 313.1383056640625 653.5419921875 313.4136962890625 653.5419921875 L 375.7489013671875 653.5419921875 C 376.0242919921875 653.5419921875 376.24755859375 653.7652587890625 376.24755859375 654.0406494140625 C 376.24755859375 654.3161010742188 376.0242919921875 654.5393676757813 375.7489013671875 654.5393676757813 Z">
            </path>
        </svg>
        <svg class="Trazado_58" viewBox="409.551 340.947 12.727 21.714">
            <path id="Trazado_58" d="M 415.0417175292969 341.6897583007813 C 413.8714599609375 342.4283752441406 413.0885009765625 343.6474609375 412.9035034179688 345.0189208984375 C 412.718505859375 346.3903503417969 413.1504516601563 347.7733154296875 414.0831909179688 348.795654296875 L 409.5514526367188 358.4728698730469 L 414.7605590820313 362.6611328125 L 420.9683532714844 348.9051513671875 C 422.6182250976563 347.1867065429688 422.7219848632813 344.505859375 421.2099609375 342.6649780273438 C 419.6978759765625 340.8241271972656 417.0479431152344 340.4051513671875 415.041748046875 341.6897583007813 Z">
            </path>
        </svg>
        <svg class="Trazado_59" viewBox="362.005 348.445 33.089 28.251">
            <path id="Trazado_59" d="M 365.1634521484375 349.3757019042969 L 365.1634521484375 349.3757019042969 C 368.1424560546875 347.5862426757813 372.001708984375 348.4513549804688 373.9317321777344 351.34130859375 L 383.2046508789063 365.2257690429688 L 386.4238586425781 358.1288452148438 C 386.83984375 357.2117919921875 387.8740234375 356.7485961914063 388.835205078125 357.0488586425781 L 393.6940002441406 358.5665893554688 C 394.2068481445313 358.7267761230469 394.6333618164063 359.0870666503906 394.8770141601563 359.5658874511719 C 395.1206970214844 360.044677734375 395.1609191894531 360.6015625 394.9885864257813 361.1104125976563 L 391.6625671386719 370.9316101074219 C 390.8096618652344 373.4501342773438 388.82568359375 375.42333984375 386.3025817871094 376.2625732421875 C 383.7794494628906 377.101806640625 381.0088500976563 376.7100219726563 378.8173522949219 375.2041320800781 L 378.8173217773438 375.2041015625 C 378.3121948242188 374.8569946289063 377.8461303710938 374.4561767578125 377.4273071289063 374.0086669921875 L 363.7621459960938 359.4076843261719 C 362.4180908203125 357.9716796875 361.7951354980469 356.0050659179688 362.0672302246094 354.0570678710938 C 362.33935546875 352.109130859375 363.4773254394531 350.3884887695313 365.1634521484375 349.3757019042969 Z">
            </path>
        </svg>
        <svg class="Trazado_60" viewBox="409.109 321.542 10.662 20.273">
            <path id="Trazado_60" d="M 418.775146484375 321.542724609375 C 419.29345703125 321.5556030273438 419.7031860351563 321.9861755371094 419.6903076171875 322.5044555664063 L 419.6102600097656 325.7272644042969 L 419.7718505859375 325.7419738769531 L 419.7138671875 327.930908203125 L 419.5559997558594 327.9111938476563 L 419.2692260742188 339.4568786621094 C 419.2489013671875 340.2742919921875 418.6253662109375 340.9498596191406 417.8121948242188 341.0354614257813 L 410.470703125 341.808349609375 C 410.10888671875 341.846435546875 409.7487182617188 341.7227172851563 409.4867248535156 341.4702758789063 C 409.2247009277344 341.2178649902344 409.087646484375 340.862548828125 409.1122436523438 340.4995727539063 L 410.2256774902344 324.059326171875 C 410.2738342285156 323.3480834960938 410.8084106445313 322.7651977539063 411.5128173828125 322.65576171875 L 418.6000366210938 321.5547485351563 L 418.6000366210938 321.5547485351563 C 418.6578979492188 321.5452880859375 418.7165222167969 321.541259765625 418.775146484375 321.542724609375 Z">
            </path>
        </svg>
        <svg class="Trazado_61" viewBox="410.476 322.391 9.221 18.974">
            <path id="Trazado_61" d="M 413.77880859375 323.6788635253906 L 417.504638671875 323.1000366210938 C 417.6424865722656 323.07861328125 417.7488403320313 322.9673461914063 417.7639770507813 322.8286743164063 L 417.7640380859375 322.8286743164063 C 417.7811889648438 322.6715698242188 417.9016418457031 322.5455322265625 418.0578308105469 322.521240234375 L 418.8426513671875 322.3993225097656 C 419.0594482421875 322.3656616210938 419.2799987792969 322.4298095703125 419.4448852539063 322.5745544433594 C 419.6097412109375 322.7192687988281 419.7019653320313 322.9296264648438 419.6967163085938 323.1489868164063 L 419.2933349609375 339.8882751464844 C 419.2830200195313 340.318359375 418.9513854980469 340.6720886230469 418.5228881835938 340.7101745605469 L 411.186767578125 341.3623962402344 C 410.9974365234375 341.3792114257813 410.8101196289063 341.3126831054688 410.673828125 341.1801452636719 C 410.5375061035156 341.047607421875 410.4657592773438 340.8622436523438 410.477294921875 340.6724853515625 L 411.4671020507813 324.3840942382813 C 411.4971618652344 323.8896484375 411.8676147460938 323.4828491210938 412.3571166992188 323.4068298339844 L 413.1844177246094 323.2783203125 C 413.2474365234375 323.546630859375 413.5064697265625 323.7211608886719 413.77880859375 323.6788635253906 Z">
            </path>
        </svg>
        <svg class="Trazado_62" viewBox="69.518 354.849 8.414 21.99">
            <path id="Trazado_62" d="M 69.51999664306641 376.83935546875 L 75.22092437744141 376.8388671875 L 77.9322509765625 354.8489990234375 L 69.51799774169922 354.8500061035156 L 69.51999664306641 376.83935546875 Z">
            </path>
        </svg>
        <svg class="Trazado_63" viewBox="0 0 17.917 6.923">
            <path id="Trazado_63" d="M 0 0 L 17.91748046875 0 L 17.91748046875 6.9227294921875 L 6.922698974609375 6.9227294921875 C 3.09942626953125 6.9227294921875 4.57763671875e-05 3.823333740234375 4.57763671875e-05 6.103515625e-05 L 4.57763671875e-05 6.103515625e-05 L 0 0 Z">
            </path>
        </svg>
        <svg class="Trazado_64" viewBox="34.382 354.849 8.414 21.99">
            <path id="Trazado_64" d="M 34.38399505615234 376.83935546875 L 40.08492279052734 376.8388671875 L 42.79625701904297 354.8489990234375 L 34.38200378417969 354.8500061035156 L 34.38399505615234 376.83935546875 Z">
            </path>
        </svg>
        <svg class="Trazado_65" viewBox="0 0 17.917 6.923">
            <path id="Trazado_65" d="M 0 0 L 17.91748046875 0 L 17.91748046875 6.9227294921875 L 6.922698974609375 6.9227294921875 C 3.099441528320313 6.9227294921875 6.103515625e-05 3.823333740234375 6.103515625e-05 6.103515625e-05 L 4.57763671875e-05 6.103515625e-05 L 0 0 Z">
            </path>
        </svg>
        <svg class="Elipse_5">
            <ellipse id="Elipse_5" rx="12.248119354248047" ry="12.248119354248047" cx="12.248119354248047" cy="12.248119354248047">
            </ellipse>
        </svg>
        <svg class="Trazado_66" viewBox="344.398 341.941 25.522 46.157">
            <path id="Trazado_66" d="M 368.8456115722656 359.1629638671875 C 368.642333984375 352.7647705078125 365.2107543945313 346.9054260253906 359.7299194335938 343.5980224609375 C 356.5656127929688 341.7333984375 353.10205078125 341.0062255859375 350.3464965820313 343.7617797851563 C 348.69189453125 345.4578857421875 347.3668518066406 347.4466552734375 346.4388427734375 349.6268310546875 C 343.8898315429688 355.5679931640625 343.7230834960938 362.2618713378906 345.9730224609375 368.3226318359375 L 352.5314331054688 386.441650390625 L 367.7109375 388.0860900878906 C 368.2878723144531 388.1486206054688 368.8634338378906 387.9567565917969 369.2875061035156 387.5605773925781 C 369.7115478515625 387.1643981933594 369.9420776367188 386.6032104492188 369.9188842773438 386.0233154296875 L 368.8456115722656 359.1629638671875 Z">
            </path>
        </svg>
        <svg class="Trazado_67" viewBox="344.851 426.703 27.676 105.065">
            <path id="Trazado_67" d="M 353.7210083007813 426.7030029296875 C 353.7210083007813 426.7030029296875 342.3803100585938 430.9366455078125 345.3453063964844 448.8636779785156 C 348.0059204101563 464.9503479003906 345.8916015625 518.344970703125 345.429443359375 529.137939453125 C 345.3837280273438 530.2069702148438 346.1903686523438 531.121337890625 347.2567749023438 531.209228515625 L 353.8767700195313 531.7609252929688 C 354.9550170898438 531.8507690429688 355.9083251953125 531.0645751953125 356.025390625 529.9889526367188 L 359.4443359375 498.5851440429688 C 359.4721374511719 498.3297729492188 359.6893310546875 498.1372680664063 359.9461669921875 498.140380859375 C 360.2030029296875 498.1435546875 360.4154663085938 498.3412475585938 360.43701171875 498.5972290039063 L 362.984619140625 528.81494140625 C 363.0737609863281 529.8721923828125 363.9749145507813 530.6746826171875 365.035400390625 530.64111328125 L 370.5957946777344 530.4652099609375 C 371.125 530.4484252929688 371.6258544921875 530.2219848632813 371.9879455566406 529.8357543945313 C 372.35009765625 529.449462890625 372.5437622070313 528.93505859375 372.5263671875 528.4058837890625 L 369.2509155273438 428.7967529296875 L 353.7210083007813 426.7030029296875 Z">
            </path>
        </svg>
        <svg class="Trazado_68" viewBox="343.311 275.048 33.312 32.323">
            <path id="Trazado_68" d="M 364.4551086425781 292.0513305664063 C 368.5514526367188 293.7313842773438 373.7826538085938 291.7688598632813 375.7631530761719 287.80908203125 C 377.74365234375 283.8493041992188 376.17626953125 278.4863891601563 372.375 276.2164306640625 C 368.5737609863281 273.9464111328125 363.1090087890625 275.1099243164063 360.5621948242188 278.7315673828125 C 358.490478515625 274.9991455078125 353.0630493164063 274.0475769042969 349.3367309570313 276.1301879882813 C 345.6103515625 278.2128295898438 343.5806274414063 282.5751037597656 343.3399047851563 286.8372192382813 C 343.0992126464844 291.0993041992188 344.3949584960938 295.2979736328125 345.9756164550781 299.2633972167969 C 348.5324401855469 305.677734375 356.7636108398438 309.1314697265625 363.1318664550781 306.4620361328125 C 360.21630859375 302.1202392578125 360.7917785644531 295.7655334472656 364.4551086425781 292.0513305664063 Z">
            </path>
        </svg>
        <svg class="Path_395" viewBox="415.514 338.024 4.202 3.685">
            <path id="Path_395" d="M 417.1585998535156 341.7091369628906 C 417.049560546875 341.7093505859375 416.9434509277344 341.674072265625 416.8562316894531 341.6087036132813 L 416.850830078125 341.6046142578125 L 415.7120361328125 340.7334594726563 C 415.490234375 340.5634765625 415.4483032226563 340.2457885742188 415.6183471679688 340.0239868164063 C 415.7883911132813 339.8021850585938 416.1060485839844 339.7601928710938 416.327880859375 339.9302368164063 L 417.0654907226563 340.495849609375 L 418.8084716796875 338.2218627929688 C 418.9784545898438 338.0001525878906 419.2960205078125 337.9581909179688 419.5177307128906 338.1282043457031 L 419.5178833007813 338.1282958984375 L 419.5070495605469 338.143310546875 L 419.5181579589844 338.1282958984375 C 419.7395935058594 338.2985229492188 419.7814636230469 338.6158752441406 419.6117248535156 338.8377075195313 L 417.5615539550781 341.5111694335938 C 417.4654235839844 341.6360168457031 417.3165893554688 341.708984375 417.1590270996094 341.7085266113281 Z">
            </path>
        </svg>
        <svg class="Trazado_69" viewBox="539.531 244.458 173.319 42.029">
            <path id="Trazado_69" d="M 704.5316162109375 244.4580078125 L 547.848876953125 244.4580078125 C 543.256591796875 244.4621276855469 539.5347900390625 248.1838684082031 539.5306396484375 252.7761535644531 L 539.5307006835938 278.1683959960938 C 539.5347900390625 282.7606506347656 543.256591796875 286.4823913574219 547.848876953125 286.4865417480469 L 704.5316162109375 286.4865417480469 C 709.1239013671875 286.4823913574219 712.845703125 282.7606506347656 712.849853515625 278.1683959960938 L 712.8497924804688 252.7760009765625 C 712.8455810546875 248.1837768554688 709.1239013671875 244.4621276855469 704.5316162109375 244.4580078125 Z M 711.9742431640625 278.1684265136719 C 711.9683837890625 282.2764282226563 708.6396484375 285.6051635742188 704.5316162109375 285.6109924316406 L 547.848876953125 285.6109924316406 C 543.7409057617188 285.6050720214844 540.4122924804688 282.2763366699219 540.406494140625 278.1683959960938 L 540.406494140625 252.7760009765625 C 540.412353515625 248.6680145263672 543.7410888671875 245.3392639160156 547.84912109375 245.3334350585938 L 704.5316162109375 245.3334350585938 C 708.6397705078125 245.339111328125 711.9686889648438 248.6679077148438 711.9744873046875 252.7760314941406 L 711.9742431640625 278.1684265136719 Z">
            </path>
        </svg>
        <svg class="Trazado_70" viewBox="591.118 257.566 28.956 28.956">
            <path id="Trazado_70" d="M 605.5955810546875 286.5212707519531 C 597.5995483398438 286.5212707519531 591.1176147460938 280.039306640625 591.1176147460938 272.0433959960938 C 591.1176147460938 264.0475463867188 597.599609375 257.5656127929688 605.595458984375 257.5656127929688 C 613.59130859375 257.5656127929688 620.0733032226563 264.047607421875 620.0733032226563 272.04345703125 C 620.064208984375 280.0355834960938 613.587646484375 286.5121459960938 605.5955810546875 286.5212707519531 Z">
            </path>
        </svg>
        <svg class="Trazado_71" viewBox="669.611 296.254 82.257 7.005">
            <path id="Trazado_71" d="M 748.3651123046875 303.2591552734375 L 673.113037109375 303.2591552734375 C 671.1787109375 303.2591552734375 669.6106567382813 301.6911010742188 669.6106567382813 299.7567749023438 C 669.6106567382813 297.8224487304688 671.1787109375 296.25439453125 673.113037109375 296.25439453125 L 748.3651123046875 296.25439453125 C 750.2994384765625 296.25439453125 751.8674926757813 297.8224487304688 751.8674926757813 299.7567749023438 C 751.8674926757813 301.6911010742188 750.2994384765625 303.2591552734375 748.3651123046875 303.2591552734375 Z">
            </path>
        </svg>
        <svg class="Trazado_72" viewBox="669.611 266.405 31.91 7.005">
            <path id="Trazado_72" d="M 698.0181884765625 273.41015625 L 673.113037109375 273.41015625 C 671.1787109375 273.41015625 669.6106567382813 271.8421020507813 669.6106567382813 269.9077758789063 C 669.6106567382813 267.9734497070313 671.1787109375 266.4053955078125 673.113037109375 266.4053955078125 L 698.0185546875 266.4053955078125 C 699.9528198242188 266.4053955078125 701.5209350585938 267.9734497070313 701.5209350585938 269.9077758789063 C 701.5209350585938 271.8421020507813 699.9528198242188 273.41015625 698.0185546875 273.41015625 Z">
            </path>
        </svg>
        <svg class="Path_395_cq" viewBox="607.8 272.457 13.847 12.144">
            <path id="Path_395_cq" d="M 613.2197265625 284.6009826660156 C 612.860595703125 284.6015930175781 612.5108642578125 284.4854125976563 612.2235107421875 284.2698974609375 L 612.2056884765625 284.2565307617188 L 608.4531860351563 281.385986328125 C 607.7222900390625 280.8256530761719 607.583984375 279.7789001464844 608.1444091796875 279.0480041503906 C 608.7047119140625 278.317138671875 609.75146484375 278.1788635253906 610.4822998046875 278.7391967773438 L 612.912841796875 280.60302734375 L 618.6563720703125 273.1099853515625 C 619.2164306640625 272.37939453125 620.2628173828125 272.2411804199219 620.993408203125 272.8013000488281 L 620.993896484375 272.8016967773438 L 620.958251953125 272.8511962890625 L 620.994873046875 272.8016967773438 C 621.724609375 273.362548828125 621.862548828125 274.4082946777344 621.30322265625 275.13916015625 L 614.547607421875 283.9486694335938 C 614.2308349609375 284.360107421875 613.740478515625 284.6005249023438 613.22119140625 284.5989990234375 Z">
            </path>
        </svg>
        <svg class="Trazado_73" viewBox="404.532 381.458 173.319 42.029">
            <path id="Trazado_73" d="M 569.5321655273438 381.4580078125 L 412.849853515625 381.4580078125 C 408.2576293945313 381.4621276855469 404.535888671875 385.1838989257813 404.53173828125 389.776123046875 L 404.53173828125 415.1683654785156 C 404.535888671875 419.7606201171875 408.2576293945313 423.4823608398438 412.8498840332031 423.4865112304688 L 569.5321655273438 423.4865112304688 C 574.1244506835938 423.4823913574219 577.84619140625 419.7606506347656 577.850341796875 415.1683654785156 L 577.850341796875 389.7760009765625 C 577.8460693359375 385.1837768554688 574.1243896484375 381.4620971679688 569.5321655273438 381.4579772949219 Z">
            </path>
        </svg>
        <svg class="Trazado_74" viewBox="404.532 381.458 173.319 42.029">
            <path id="Trazado_74" d="M 569.5321655273438 381.4580078125 L 412.849853515625 381.4580078125 C 408.2576293945313 381.4621276855469 404.535888671875 385.1838989257813 404.53173828125 389.776123046875 L 404.53173828125 415.1683654785156 C 404.535888671875 419.7606201171875 408.2576293945313 423.4823608398438 412.8498840332031 423.4865112304688 L 569.5321655273438 423.4865112304688 C 574.1244506835938 423.4823913574219 577.84619140625 419.7606506347656 577.850341796875 415.1683654785156 L 577.850341796875 389.7760009765625 C 577.8460693359375 385.1837768554688 574.1243896484375 381.4620971679688 569.5321655273438 381.4579772949219 Z M 576.9747314453125 415.1683959960938 C 576.9688720703125 419.2764282226563 573.64013671875 422.6051635742188 569.5321655273438 422.6110229492188 L 412.849853515625 422.6109924316406 C 408.7417602539063 422.6053161621094 405.412841796875 419.2765197753906 405.4070434570313 415.1683959960938 L 405.4070434570313 389.7760009765625 C 405.412841796875 385.6679992675781 408.7416076660156 382.3392333984375 412.849609375 382.3334350585938 L 569.5321655273438 382.3334350585938 C 573.6402587890625 382.339111328125 576.9691772460938 385.6679077148438 576.9749755859375 389.7760009765625 L 576.9747314453125 415.1683959960938 Z">
            </path>
        </svg>
        <svg class="Trazado_75" viewBox="456.118 394.566 28.956 28.956">
            <path id="Trazado_75" d="M 470.5955505371094 423.5213012695313 C 462.5995788574219 423.5213012695313 456.1176147460938 417.0393371582031 456.1176452636719 409.04345703125 C 456.1176452636719 401.047607421875 462.599609375 394.5656433105469 470.5955200195313 394.565673828125 C 478.5913696289063 394.565673828125 485.0733032226563 401.047607421875 485.0733032226563 409.0435180664063 C 485.0642700195313 417.0355834960938 478.587646484375 423.51220703125 470.5955505371094 423.5213012695313 Z">
            </path>
        </svg>
        <svg class="Trazado_76" viewBox="534.611 433.254 82.257 7.005">
            <path id="Trazado_76" d="M 613.3651733398438 440.2591857910156 L 538.1130981445313 440.2591857910156 C 536.1788330078125 440.2591857910156 534.6107177734375 438.6911315917969 534.6107177734375 436.7568054199219 C 534.6107177734375 434.8224792480469 536.1788330078125 433.2544250488281 538.1131591796875 433.2544250488281 L 613.3651123046875 433.25439453125 C 615.2994384765625 433.2544250488281 616.8675537109375 434.8224792480469 616.8675537109375 436.7568054199219 C 616.8675537109375 438.6911315917969 615.2994384765625 440.2591857910156 613.3651123046875 440.2591857910156 Z">
            </path>
        </svg>
        <svg class="Trazado_77" viewBox="534.611 403.405 31.91 7.005">
            <path id="Trazado_77" d="M 563.0182495117188 410.4101867675781 L 538.1130981445313 410.4101867675781 C 536.1788330078125 410.4101867675781 534.6107177734375 408.8421325683594 534.6107177734375 406.9078063964844 C 534.6107177734375 404.9734802246094 536.1788330078125 403.4054260253906 538.1131591796875 403.4054260253906 L 563.0185546875 403.4053955078125 C 564.952880859375 403.4054260253906 566.52099609375 404.9734802246094 566.52099609375 406.9078063964844 C 566.52099609375 408.8421325683594 564.952880859375 410.4101867675781 563.0185546875 410.4101867675781 Z">
            </path>
        </svg>
        <svg class="Path_395_cw" viewBox="472.8 409.457 13.847 12.144">
            <path id="Path_395_cw" d="M 478.2197265625 421.6010131835938 C 477.8605346679688 421.6015930175781 477.5108642578125 421.4854125976563 477.2235107421875 421.2698974609375 L 477.2056579589844 421.2565307617188 L 473.4531860351563 418.3860168457031 C 472.7222900390625 417.82568359375 472.5840454101563 416.7789306640625 473.1443786621094 416.0480346679688 C 473.7047119140625 415.317138671875 474.75146484375 415.1788940429688 475.4823608398438 415.7391967773438 L 477.9129028320313 417.6030578613281 L 483.6564331054688 410.1100158691406 C 484.2165222167969 409.37939453125 485.2628479003906 409.2412109375 485.993408203125 409.8013305664063 L 485.9939575195313 409.8016967773438 L 485.9583129882813 409.8511962890625 L 485.9949340820313 409.8016967773438 C 486.7246704101563 410.362548828125 486.8626098632813 411.4083251953125 486.30322265625 412.1391906738281 L 479.5476684570313 420.9486999511719 C 479.2308654785156 421.360107421875 478.7405395507813 421.6005249023438 478.2212829589844 421.5990295410156 Z">
            </path>
        </svg>
        <svg class="Trazado_78" viewBox="376.175 392.203 20.277 12.111">
            <path id="Trazado_78" d="M 393.5530090332031 392.5726928710938 C 392.2784423828125 392.0336303710938 390.83056640625 392.0867919921875 389.5989990234375 392.7178955078125 C 388.3673706054688 393.3489990234375 387.4785766601563 394.4932250976563 387.1717529296875 395.8426513671875 L 376.6394653320313 397.6469116210938 L 376.1748657226563 404.3147888183594 L 391.0127563476563 401.5578918457031 C 393.365478515625 401.9312744140625 395.6256713867188 400.4859313964844 396.2737426757813 398.193603515625 C 396.9218444824219 395.9012451171875 395.7529907226563 393.4864501953125 393.5530395507813 392.5726928710938 Z">
            </path>
        </svg>
        <svg class="Trazado_79" viewBox="347.852 353.418 22.245 34.968">
            <path id="Trazado_79" d="M 361.2618713378906 353.989990234375 L 361.2618713378906 353.989990234375 C 364.4318237304688 355.4141845703125 365.9248352050781 359.0765380859375 364.6541137695313 362.31103515625 L 358.5488586425781 377.8510131835938 L 366.21337890625 376.4422607421875 C 367.2037658691406 376.2601928710938 368.1744995117188 376.8448486328125 368.4767456054688 377.8053588867188 L 370.004638671875 382.6610107421875 C 370.1659240722656 383.1734924316406 370.1136474609375 383.7293701171875 369.859619140625 384.2027893066406 C 369.6056518554688 384.6762084960938 369.17138671875 385.0271606445313 368.6552124023438 385.1761779785156 L 358.693115234375 388.0525817871094 C 356.138427734375 388.7902221679688 353.3857116699219 388.2879028320313 351.2562255859375 386.6955261230469 C 349.126708984375 385.1031494140625 347.8665771484375 382.6047973632813 347.8517761230469 379.94580078125 L 347.8517761230469 379.9457702636719 C 347.8483276367188 379.3328552246094 347.9113159179688 378.7213745117188 348.0396118164063 378.1220092773438 L 352.2255859375 358.56689453125 C 352.6372680664063 356.6435852050781 353.8962097167969 355.0093994140625 355.6508178710938 354.1206665039063 C 357.4054565429688 353.2319641113281 359.4677734375 353.1839294433594 361.2618713378906 353.989990234375 Z">
            </path>
        </svg>
    </div>
</template>

<style scoped>
    #Grupo_12 {
		position: relative;
		width: 286.328px;
		height: 205px;
		/*left: 817px;
		top: 430px;
		overflow: visible; */
	}
    #Trazado_56 {
		fill: rgba(242,242,242,1);
	}
	.Trazado_56 {
		overflow: visible;
		position: absolute;
		width: 173.319px;
		height: 42.029px;
		left: 112.862px;
		top: 60.073px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_57 {
		fill: rgba(63,61,86,1);
	}
	.Trazado_57 {
		overflow: visible;
		position: absolute;
		width: 63.333px;
		height: 0.997px;
		left: 0px;
		top: 204.003px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_58 {
		fill: rgba(255,184,184,1);
	}
	.Trazado_58 {
		overflow: visible;
		position: absolute;
		width: 12.727px;
		height: 21.714px;
		left: 48.191px;
		top: 48.117px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_59 {
		fill: rgba(204,204,204,1);
	}
	.Trazado_59 {
		overflow: visible;
		position: absolute;
		width: 33.089px;
		height: 28.251px;
		left: 24.48px;
		top: 51.857px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_60 {
		fill: rgba(63,61,86,1);
	}
	.Trazado_60 {
		overflow: visible;
		position: absolute;
		width: 10.663px;
		height: 20.273px;
		left: 47.97px;
		top: 38.441px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_61 {
		fill: rgba(255,255,255,1);
	}
	.Trazado_61 {
		overflow: visible;
		position: absolute;
		width: 9.221px;
		height: 18.974px;
		left: 48.652px;
		top: 38.863px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_62 {
		fill: rgba(255,184,184,1);
	}
	.Trazado_62 {
		overflow: visible;
		position: absolute;
		width: 8.414px;
		height: 21.99px;
		left: 34.667px;
		top: 176.956px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_63 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_63 {
		overflow: visible;
		position: absolute;
		width: 17.917px;
		height: 6.923px;
		transform: translate(0px, 0px) matrix(1,0,0,1,33.448,197.3179) rotate(179.995deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Trazado_64 {
		fill: rgba(255,184,184,1);
	}
	.Trazado_64 {
		overflow: visible;
		position: absolute;
		width: 8.414px;
		height: 21.99px;
		left: 17.146px;
		top: 176.956px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_65 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_65 {
		overflow: visible;
		position: absolute;
		width: 17.917px;
		height: 6.923px;
		transform: translate(0px, 0px) matrix(1,0,0,1,15.9266,197.3179) rotate(179.995deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Elipse_5 {
		fill: rgba(255,184,184,1);
	}
    #Trazado_66 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_66 {
		overflow: visible;
		position: absolute;
		width: 25.522px;
		height: 46.157px;
		left: 15.7px;
		top: 48.613px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_67 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_67 {
		overflow: visible;
		position: absolute;
		width: 27.676px;
		height: 105.065px;
		left: 15.926px;
		top: 90.882px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_68 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_68 {
		overflow: visible;
		position: absolute;
		width: 33.312px;
		height: 32.323px;
		left: 15.158px;
		top: 15.254px;
		transform: matrix(1,0,0,1,0,0);
	}
    #Path_395 {
		fill: rgba(190,140,41,1);
	}
	.Path_395 {
		overflow: visible;
		position: absolute;
		width: 4.202px;
		height: 3.685px;
		left: 51.164px;
		top: 46.66px;
		transform: matrix(1,0,0,1,0,0);
	}
    #Trazado_69 {
		fill: rgba(63,61,86,1);
	}
	.Trazado_69 {
		overflow: visible;
		position: absolute;
		width: 173.319px;
		height: 42.029px;
		left: 113.009px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_70 {
		fill: rgba(190,140,41,1);
	}
	.Trazado_70 {
		overflow: visible;
		position: absolute;
		width: 28.956px;
		height: 28.956px;
		left: 138.734px;
		top: 6.536px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_71 {
		fill: rgba(204,204,204,1);
	}
	.Trazado_71 {
		overflow: visible;
		position: absolute;
		width: 82.257px;
		height: 7.005px;
		left: 177.877px;
		top: 25.83px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_72 {
		fill: rgba(204,204,204,1);
	}
	.Trazado_72 {
		overflow: visible;
		position: absolute;
		width: 31.91px;
		height: 7.005px;
		left: 177.877px;
		top: 10.945px;
		transform: matrix(1,0,0,1,0,0);
	}
    #Path_395_cq {
		fill: rgba(255,255,255,1);
	}
	.Path_395_cq {
		overflow: visible;
		position: absolute;
		width: 13.847px;
		height: 12.144px;
		left: 147.054px;
		top: 13.963px;
		transform: matrix(1,0,0,1,0,0);
	}
    #Trazado_73 {
		fill: rgba(255,255,255,1);
	}
	.Trazado_73 {
		overflow: visible;
		position: absolute;
		width: 173.319px;
		height: 42.029px;
		left: 45.688px;
		top: 68.319px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_74 {
		fill: rgba(63,61,86,1);
	}
	.Trazado_74 {
		overflow: visible;
		position: absolute;
		width: 173.319px;
		height: 42.029px;
		left: 45.688px;
		top: 68.319px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_75 {
		fill: rgba(190,140,41,1);
	}
	.Trazado_75 {
		overflow: visible;
		position: absolute;
		width: 28.956px;
		height: 28.956px;
		left: 71.412px;
		top: 74.856px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_76 {
		fill: rgba(204,204,204,1);
	}
	.Trazado_76 {
		overflow: visible;
		position: absolute;
		width: 82.257px;
		height: 7.005px;
		left: 110.556px;
		top: 94.149px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_77 {
		fill: rgba(204,204,204,1);
	}
	.Trazado_77 {
		overflow: visible;
		position: absolute;
		width: 31.91px;
		height: 7.005px;
		left: 110.556px;
		top: 79.264px;
		transform: matrix(1,0,0,1,0,0);
	}
    #Path_395_cw {
		fill: rgba(255,255,255,1);
	}
	.Path_395_cw {
		overflow: visible;
		position: absolute;
		width: 13.847px;
		height: 12.144px;
		left: 79.732px;
		top: 82.282px;
		transform: matrix(1,0,0,1,0,0);
	}
    #Trazado_78 {
		fill: rgba(255,184,184,1);
	}
	.Trazado_78 {
		overflow: visible;
		position: absolute;
		width: 20.277px;
		height: 12.111px;
		left: 31.546px;
		top: 73.678px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_79 {
		fill: rgba(204,204,204,1);
	}
	.Trazado_79 {
		overflow: visible;
		position: absolute;
		width: 22.245px;
		height: 34.968px;
		left: 17.422px;
		top: 54.336px;
		transform: matrix(1,0,0,1,0,0);
	}
</style>