<template>
    <div id="Grupo_11">
        <svg class="Trazado_52" viewBox="0 412.358 270.652 1">
            <path id="Trazado_52" d="M 270.6522827148438 412.3580017089844 L 0 412.3580017089844 L 270.6522827148438 412.3580017089844 Z">
            </path>
        </svg>
        <svg class="Trazado_51" viewBox="607.039 0 1 141.342">
            <path id="Trazado_51" d="M 607.0390014648438 0 L 607.0390014648438 141.3423004150391 L 607.0390014648438 0 Z">
            </path>
        </svg>
        <svg class="Trazado_53" viewBox="643.862 0 1 11.498">
            <path id="Trazado_53" d="M 643.8619995117188 0 L 643.8619995117188 11.49829292297363 L 643.8619995117188 0 Z">
            </path>
        </svg>
        <svg class="Trazado_55" viewBox="0 73.348 54.64 1">
            <path id="Trazado_55" d="M 54.6397590637207 73.34799957275391 L 0 73.34799957275391 L 54.6397590637207 73.34799957275391 Z">
            </path>
        </svg>
        <svg class="Trazado_33" viewBox="755.712 323.643 28.164 26.483">
            <path id="Trazado_33" d="M 755.7119750976563 348.2339172363281 L 755.7119750976563 337.7249755859375 C 755.7119140625 329.9477233886719 762.0167236328125 323.6430053710938 769.7939453125 323.6430053710938 C 777.5711669921875 323.6430053710938 783.8759155273438 329.9477233886719 783.8759155273438 337.7249755859375 L 783.8759765625 348.2339172363281 C 783.874755859375 349.2781372070313 783.028564453125 350.1243286132813 781.9843139648438 350.1255187988281 L 757.6036376953125 350.1255493164063 C 756.5593872070313 350.1243591308594 755.713134765625 349.2781372070313 755.7119750976563 348.2339172363281 Z">
            </path>
        </svg>
        <svg class="Trazado_34" viewBox="563.462 491.212 12.633 20.532">
            <path id="Trazado_34" d="M 576.0946044921875 510.369384765625 L 571.1276245117188 511.7439575195313 L 563.4619750976563 493.2406616210938 L 570.7926025390625 491.2120361328125 L 576.0946044921875 510.369384765625 Z">
            </path>
        </svg>
        <svg class="Trazado_35" viewBox="0 0 16.197 6.258">
            <path id="Trazado_35" d="M 6.25787353515625 0 L 16.19677734375 0 L 16.19677734375 6.257843017578125 L 0 6.257843017578125 L 0 6.257843017578125 C 0 2.801727294921875 2.801788330078125 -3.0517578125e-05 6.257904052734375 0 Z">
            </path>
        </svg>
        <svg class="Trazado_36" viewBox="452.235 498.587 7.606 19.878">
            <path id="Trazado_36" d="M 459.8405151367188 518.46484375 L 454.6869506835938 518.46484375 L 452.2349853515625 498.5869750976563 L 459.8413696289063 498.5869750976563 L 459.8405151367188 518.46484375 Z">
            </path>
        </svg>
        <svg class="Trazado_37" viewBox="434.424 542.372 16.197 6.258">
            <path id="Trazado_37" d="M 440.681884765625 542.3720092773438 L 450.6207885742188 542.3720092773438 L 450.6207885742188 548.6298828125 L 434.4240112304688 548.6298828125 L 434.4240112304688 548.6298828125 C 434.4240112304688 545.1737060546875 437.2257690429688 542.3720092773438 440.681884765625 542.3720092773438 Z">
            </path>
        </svg>
        <svg class="Trazado_38" viewBox="698.753 436.12 21.021 13.349">
            <path id="Trazado_38" d="M 699.6041259765625 442.9219970703125 C 700.3488159179688 443.9271850585938 701.50048828125 444.5508728027344 702.7492065429688 444.6253051757813 C 703.9979248046875 444.69970703125 705.215576171875 444.2172241210938 706.0743408203125 443.3075866699219 L 719.7738037109375 449.46923828125 L 718.52783203125 441.7634887695313 L 705.7095336914063 437.0936889648438 C 704.04931640625 435.7222595214844 701.6258544921875 435.8092651367188 700.0682373046875 437.2962036132813 C 698.5106201171875 438.7831420898438 698.311279296875 441.2000122070313 699.604248046875 442.9220581054688 Z">
            </path>
        </svg>
        <svg class="Trazado_39" viewBox="717.353 432.241 39.562 54.772">
            <path id="Trazado_39" d="M 738.8499145507813 487.0127563476563 C 734.5457763671875 487.0127563476563 730.0900268554688 486.3715209960938 726.3447875976563 484.4647216796875 C 722.32568359375 482.4588012695313 719.32373046875 478.869384765625 718.0601196289063 474.5588989257813 C 716.108642578125 468.3799438476563 718.569091796875 462.3096008300781 720.948486328125 456.4393310546875 C 722.4229736328125 452.8016357421875 723.8155517578125 449.3659057617188 724.1769409179688 445.979248046875 L 724.3031616210938 444.7768859863281 C 724.865966796875 439.3762817382813 725.35205078125 434.7121276855469 728.0430908203125 432.9627075195313 C 729.43798828125 432.055908203125 731.3133544921875 432.0042114257813 733.7769775390625 432.8042602539063 L 756.91552734375 440.32080078125 L 756.0648193359375 484.2439575195313 L 755.9241943359375 484.2909545898438 C 755.8033447265625 484.3317260742188 747.6463623046875 487.0127563476563 738.8499145507813 487.0127563476563 Z">
            </path>
        </svg>
        <svg class="Trazado_40" viewBox="738.94 395.378 27.122 42.009">
            <path id="Trazado_40" d="M 745.885009765625 397.7626037597656 C 745.885009765625 397.7626037597656 757.234619140625 394.3997497558594 766.0621337890625 395.6608276367188 C 766.0621337890625 395.6608276367188 761.0178833007813 423.4044189453125 762.6993408203125 432.6522827148438 C 764.3807373046875 441.900146484375 733.4844970703125 436.225341796875 739.789794921875 427.3978271484375 L 741.8916015625 416.8888854980469 C 741.8916015625 416.8888854980469 737.68798828125 412.685302734375 741.4712524414063 407.6409912109375 L 745.885009765625 397.7626037597656 Z">
            </path>
        </svg>
        <svg class="Trazado_41" viewBox="708.906 397.42 24.347 68.576">
            <path id="Trazado_41" d="M 722.8935546875 465.9964599609375 L 708.9055786132813 463.373779296875 L 713.7891845703125 425.7909545898438 C 714.1175537109375 424.74169921875 721.6826782226563 400.9297180175781 725.1185302734375 399.641357421875 C 727.6132202148438 398.7628173828125 730.1644897460938 398.0540161132813 732.7548828125 397.5198669433594 L 733.2525024414063 397.4203186035156 L 730.44775390625 401.6275939941406 L 719.2811889648438 428.3851623535156 L 722.8935546875 465.9964599609375 Z">
            </path>
        </svg>
        <svg class="Trazado_42" viewBox="681.848 465.196 73.246 101.065">
            <path id="Trazado_42" d="M 699.92138671875 566.2606201171875 L 681.84814453125 563.24853515625 L 691.9906005859375 521.8333129882813 L 707.0828857421875 465.195556640625 L 707.2317504882813 466.2012939453125 C 707.2435302734375 466.2762451171875 708.6534423828125 473.6751708984375 729.573974609375 470.3921508789063 L 729.758056640625 470.3634338378906 L 729.808837890625 470.5426025390625 L 755.09423828125 559.884521484375 L 734.500732421875 563.3167724609375 L 715.718017578125 498.1328735351563 L 699.92138671875 566.2606201171875 Z">
            </path>
        </svg>
        <svg class="Trazado_43" viewBox="784.436 394.245 21.962 76.944">
            <path id="Trazado_43" d="M 784.43603515625 471.189208984375 L 784.447265625 470.8712463378906 C 784.4598999023438 470.5182189941406 785.7033081054688 435.4046020507813 785.2879638671875 421.2829284667969 C 784.8712158203125 407.1130981445313 789.458740234375 394.842041015625 789.505126953125 394.7197265625 L 789.54248046875 394.6212158203125 L 789.6438598632813 394.592041015625 C 795.5791625976563 392.896484375 800.728271484375 397.9571838378906 800.779541015625 398.0084838867188 L 800.8519287109375 398.0807495117188 L 799.1615600585938 412.0266723632813 L 806.3984985351563 462.7394409179688 L 784.43603515625 471.189208984375 Z">
            </path>
        </svg>
        <svg class="Elipse_4">
            <ellipse id="Elipse_4" rx="10.324402809143066" ry="10.324402809143066" cx="10.324402809143066" cy="10.324402809143066">
            </ellipse>
        </svg>
        <svg class="Trazado_44" viewBox="747.787 332.643 24.381 11.35">
            <path id="Trazado_44" d="M 747.7869873046875 343.782470703125 C 747.7939453125 337.6331787109375 752.7772216796875 332.6499633789063 758.9264526367188 332.6430053710938 L 761.0283203125 332.6430053710938 C 767.1776123046875 332.6499328613281 772.1608276367188 337.6331787109375 772.167724609375 343.782470703125 L 772.167724609375 343.99267578125 L 767.725830078125 343.99267578125 L 766.2108154296875 339.75048828125 L 765.9078979492188 343.99267578125 L 763.6123046875 343.99267578125 L 762.8480224609375 341.852294921875 L 762.695068359375 343.99267578125 L 747.7869873046875 343.99267578125 L 747.7869873046875 343.782470703125 Z">
            </path>
        </svg>
        <svg class="Trazado_45" viewBox="779.044 343.737 13.142 19.998">
            <path id="Trazado_45" d="M 779.408447265625 362.9546203613281 C 778.9827880859375 362.3783569335938 778.9252319335938 361.6091613769531 779.26025390625 360.9759521484375 C 781.4876098632813 356.7395935058594 784.6060791015625 348.9116516113281 780.466796875 344.0841064453125 L 780.1693115234375 343.7372131347656 L 792.1862182617188 343.7372131347656 L 792.1862182617188 361.779296875 L 781.269775390625 363.7053833007813 C 781.1591796875 363.7249145507813 781.0471801757813 363.7348327636719 780.9349365234375 363.7349243164063 C 780.3306884765625 363.7349243164063 779.7628173828125 363.4447631835938 779.4085693359375 362.9548645019531 Z">
            </path>
        </svg>
        <svg class="Trazado_46" viewBox="442.719 180.418 174.803 157.181">
            <path id="Trazado_46" d="M 536.0782470703125 193.7986145019531 C 512.6410522460938 174.0218811035156 477.7327880859375 176.4388122558594 457.2446899414063 199.2568054199219 C 436.756591796875 222.0747985839844 438.0989379882813 257.0408935546875 460.2760925292969 278.220947265625 C 482.4532775878906 299.4010620117188 517.444091796875 299.1345520019531 539.296142578125 277.6191711425781 L 608.9148559570313 336.3633422851563 C 611.1207275390625 338.228271484375 614.420654296875 337.9518737792969 616.2855834960938 335.7460327148438 C 618.1505126953125 333.5402221679688 617.8740844726563 330.240234375 615.6682739257813 328.3753051757813 L 615.66064453125 328.3688049316406 L 546.0415649414063 269.6248168945313 C 562.8026123046875 245.5695953369141 558.484619140625 212.7073516845703 536.0782470703125 193.7985992431641 Z M 531.590087890625 263.9680786132813 C 516.4451904296875 281.9167785644531 489.6174926757813 284.1896362304688 471.6688232421875 269.044677734375 C 453.7201232910156 253.8997344970703 451.447265625 227.072021484375 466.59228515625 209.1233520507813 C 481.7372741699219 191.1747131347656 508.5650024414063 188.9019165039063 526.5136108398438 204.0469360351563 L 526.513671875 204.0469360351563 C 544.462158203125 219.1919250488281 546.7349853515625 246.0194702148438 531.590087890625 263.9680786132813 Z">
            </path>
        </svg>
        <svg class="Trazado_47" viewBox="464.966 255.265 77.161 72.518">
            <path id="Trazado_47" d="M 484.5642700195313 312.428955078125 C 467.6498413085938 298.1553344726563 464.5116577148438 273.2940368652344 477.3486328125 255.2649383544922 C 476.5355834960938 256.083740234375 475.7495727539063 256.9412841796875 474.9906616210938 257.8375244140625 C 459.8455200195313 275.7859802246094 462.1182861328125 302.6136474609375 480.0669250488281 317.7586364746094 C 498.0155639648438 332.9036254882813 524.84326171875 330.6308288574219 539.9882202148438 312.6821899414063 C 540.7452392578125 311.7846374511719 541.458251953125 310.8656005859375 542.127197265625 309.9248962402344 C 526.5147094726563 325.6117858886719 501.4800415039063 326.7008361816406 484.5643005371094 312.428955078125 Z">
            </path>
        </svg>
        <svg class="Trazado_48" viewBox="782.443 464.346 22.963 13.107">
            <path id="Trazado_48" d="M 785.7093505859375 477.3320922851563 C 786.924560546875 477.6292114257813 788.2088623046875 477.372802734375 789.2168579101563 476.6318969726563 C 790.2247924804688 475.8909606933594 790.852783203125 474.7416381835938 790.931884765625 473.4931640625 L 805.406005859375 469.4756164550781 L 799.5223388671875 464.3460083007813 L 786.679443359375 468.9476318359375 C 784.5263671875 468.9544067382813 782.718505859375 470.5702514648438 782.4710693359375 472.7091064453125 C 782.2236328125 474.847900390625 783.61474609375 476.8338623046875 785.7093505859375 477.3320922851563 Z">
            </path>
        </svg>
        <svg class="Trazado_49" viewBox="802.43 402.939 23.554 36.672">
            <path id="Trazado_49" d="M 803.31103515625 439.6116333007813 L 802.4299926757813 431.2439880371094 L 814.5205078125 424.5733032226563 L 806.6378173828125 415.0310668945313 L 807.924072265625 404.3120727539063 L 811.1271362304688 402.9393615722656 L 811.226806640625 403.0674438476563 C 812.7371826171875 405.009521484375 825.9835205078125 422.1015625 825.9835205078125 424.2144165039063 C 825.9835205078125 426.3845520019531 823.4494018554688 432.7574462890625 819.9822998046875 434.4910278320313 C 816.6380615234375 436.1632080078125 804.079833984375 439.4132080078125 803.5469970703125 439.5509033203125 L 803.31103515625 439.6116333007813 Z">
            </path>
        </svg>
        <svg class="Trazado_50" viewBox="571.766 727.297 160.997 0.841">
            <path id="Trazado_50" d="M 732.3425903320313 728.1376953125 L 572.1863403320313 728.1376953125 C 571.9542236328125 728.1376953125 571.7659912109375 727.9495239257813 571.7659912109375 727.7174072265625 C 571.7659912109375 727.4852294921875 571.9542236328125 727.2969970703125 572.1863403320313 727.2969970703125 L 732.3425903320313 727.2969970703125 C 732.5747680664063 727.2969970703125 732.762939453125 727.4852294921875 732.762939453125 727.7174072265625 C 732.762939453125 727.9495239257813 732.5747680664063 728.1376953125 732.3425903320313 728.1376953125 Z">
            </path>
        </svg>
    </div>
</template>

<style scoped>
    #Grupo_11 {
		position: relative;
		width: 298.142px;
		height: 234.809px;
		/*left: 233.391px;
		top: 399.785px;
		overflow: visible; */
	}
	#Trazado_52 {
		fill: rgba(230,230,230,1);
	}
	.Trazado_52 {
		overflow: visible;
		position: absolute;
		width: 270.652px;
		height: 1px;
		left: 0px;
		top: 173.491px;
		transform: matrix(1,0,0,1,0,0);
	}
    #Trazado_51 {
		fill: rgba(255,255,255,1);
	}
	.Trazado_51 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 141.342px;
		left: 262.913px;
		top: 21.894px;
		transform: matrix(1,0,0,1,0,0);
	}
    #Trazado_53 {
		fill: rgba(108,99,255,1);
	}
	.Trazado_53 {
		overflow: visible;
		position: absolute;
		width: 1px;
		height: 11.498px;
		left: 270.537px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
    #Trazado_55 {
		fill: rgba(108,99,255,1);
	}
	.Trazado_55 {
		overflow: visible;
		position: absolute;
		width: 54.64px;
		height: 1px;
		left: 107.811px;
		top: 67.392px;
		transform: matrix(1,0,0,1,0,0);
	}
    #Trazado_33 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_33 {
		overflow: visible;
		position: absolute;
		width: 28.164px;
		height: 26.483px;
		left: 214.468px;
		top: 64.289px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_34 {
		fill: rgba(255,184,184,1);
	}
	.Trazado_34 {
		overflow: visible;
		position: absolute;
		width: 12.633px;
		height: 20.532px;
		left: 236.74px;
		top: 206.485px;
		transform: matrix(1,0,0,1,0,0);
	}
    #Trazado_35 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_35 {
		overflow: visible;
		position: absolute;
		width: 16.197px;
		height: 6.258px;
		transform: translate(-0.275px, 0px) matrix(1,0,0,1,235.2508,225.973) rotate(-15.47deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Trazado_36 {
		fill: rgba(255,184,184,1);
	}
	.Trazado_36 {
		overflow: visible;
		position: absolute;
		width: 7.606px;
		height: 19.878px;
		left: 189.985px;
		top: 209.585px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_37 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_37 {
		overflow: visible;
		position: absolute;
		width: 16.197px;
		height: 6.258px;
		left: 182.498px;
		top: 227.99px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_38 {
		fill: rgba(255,184,184,1);
	}
	.Trazado_38 {
		overflow: visible;
		position: absolute;
		width: 21.021px;
		height: 13.349px;
		left: 190.525px;
		top: 111.57px;
		transform: matrix(1,0,0,1,0,0);
	}
    #Trazado_39 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_39 {
		overflow: visible;
		position: absolute;
		width: 39.562px;
		height: 54.772px;
		left: 198.344px;
		top: 109.939px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_40 {
		fill: rgba(190,140,41,1);
	}
	.Trazado_40 {
		overflow: visible;
		position: absolute;
		width: 27.123px;
		height: 42.009px;
		left: 207.417px;
		top: 94.444px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_41 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_41 {
		overflow: visible;
		position: absolute;
		width: 24.347px;
		height: 68.576px;
		left: 194.792px;
		top: 95.302px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_42 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_42 {
		overflow: visible;
		position: absolute;
		width: 73.246px;
		height: 101.065px;
		left: 183.419px;
		top: 123.792px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_43 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_43 {
		overflow: visible;
		position: absolute;
		width: 21.962px;
		height: 76.944px;
		left: 226.542px;
		top: 93.967px;
		transform: matrix(1,0,0,1,0,0);
	}
    #Elipse_4 {
		fill: rgba(255,184,184,1);
	}
	.Elipse_4 {
		position: absolute;
		overflow: visible;
		width: 20.649px;
		height: 20.649px;
		left: 215.332px;
		top: 69.879px;
	}
    #Trazado_44 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_44 {
		overflow: visible;
		position: absolute;
		width: 24.381px;
		height: 11.35px;
		left: 211.137px;
		top: 68.073px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_45 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_45 {
		overflow: visible;
		position: absolute;
		width: 13.142px;
		height: 19.998px;
		left: 224.276px;
		top: 72.736px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_46 {
		fill: rgba(0,0,0,1);
	}
	.Trazado_46 {
		overflow: visible;
		position: absolute;
		width: 174.803px;
		height: 157.181px;
		left: 82.899px;
		top: 4.084px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_47 {
		opacity: 0.5;
		fill: rgba(190,140,41,1);
	}
	.Trazado_47 {
		overflow: visible;
		position: absolute;
		width: 77.161px;
		height: 72.518px;
		left: 92.251px;
		top: 35.546px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_48 {
		fill: rgba(255,184,184,1);
	}
	.Trazado_48 {
		overflow: visible;
		position: absolute;
		width: 22.963px;
		height: 13.107px;
		left: 225.704px;
		top: 123.435px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_49 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_49 {
		overflow: visible;
		position: absolute;
		width: 23.553px;
		height: 36.672px;
		left: 234.106px;
		top: 97.622px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_50 {
		fill: rgba(204,204,204,1);
	}
	.Trazado_50 {
		overflow: visible;
		position: absolute;
		width: 160.997px;
		height: 0.841px;
		left: 137.145px;
		top: 233.968px;
		transform: matrix(1,0,0,1,0,0);
	}
</style>