<template>
    <div id="undraw_Scrum_board_re_wk7v">
        <svg class="Trazado_80" viewBox="237.849 160.492 57.363 57.545">
            <path id="Trazado_80" d="M 295.2120971679688 185.4360504150391 L 272.6778869628906 185.4360504150391 C 268.1669616699219 185.4401245117188 264.5111389160156 189.095947265625 264.507080078125 193.6068572998047 L 264.507080078125 218.0375671386719 C 264.218994140625 218.0203704833984 263.9308776855469 217.9945678710938 263.6470031738281 217.9601745605469 C 248.8187255859375 216.4001159667969 237.6301879882813 203.7847900390625 237.8524780273438 188.8763122558594 C 238.0747985839844 173.9678497314453 249.6345520019531 161.6917724609375 264.5027770996094 160.5745391845703 C 279.3710021972656 159.4573516845703 292.6354370117188 169.8681335449219 295.0831604003906 184.5759582519531 C 295.13037109375 184.8597869873047 295.1734008789063 185.1479187011719 295.2120971679688 185.4360504150391 Z">
            </path>
        </svg>
        <svg class="Trazado_81" viewBox="297.838 216.495 306.62 170.297">
            <path id="Trazado_81" d="M 595.4274291992188 216.4949951171875 L 306.8689270019531 216.4949951171875 C 301.883544921875 216.5004577636719 297.8434448242188 220.54052734375 297.8380126953125 225.5259094238281 L 297.8380126953125 377.7609558105469 C 297.8434448242188 382.746337890625 301.883544921875 386.7864379882813 306.8689270019531 386.7919006347656 L 595.4274291992188 386.7918701171875 C 600.4129028320313 386.7864379882813 604.4529418945313 382.7463684082031 604.4583740234375 377.7609558105469 L 604.4583740234375 225.5259094238281 C 604.4529418945313 220.54052734375 600.412841796875 216.5004272460938 595.4274291992188 216.4949951171875 Z M 603.5983276367188 377.7609558105469 C 603.5941162109375 382.2718811035156 599.9383544921875 385.9277038574219 595.4274291992188 385.9317932128906 L 306.8689270019531 385.9317932128906 C 302.3579711914063 385.9277038574219 298.7021789550781 382.2718811035156 298.6981201171875 377.7609558105469 L 298.6981201171875 225.5259094238281 C 298.7021789550781 221.0149536132813 302.3579711914063 217.3591613769531 306.8689270019531 217.3550720214844 L 595.4274291992188 217.3550720214844 C 599.9383544921875 217.3591918945313 603.5941162109375 221.0149841308594 603.5982055664063 225.5259094238281 L 603.5983276367188 377.7609558105469 Z">
            </path>
        </svg>
        <svg class="Trazado_82" viewBox="350.838 271.865 261.036 0.86">
            <path id="Trazado_82" d="M 611.44384765625 272.72509765625 L 351.26806640625 272.72509765625 C 351.0305480957031 272.72509765625 350.8380126953125 272.5325317382813 350.8380126953125 272.2950439453125 C 350.8380126953125 272.0575256347656 351.0305480957031 271.864990234375 351.26806640625 271.864990234375 L 611.44384765625 271.864990234375 C 611.6813354492188 271.864990234375 611.8738403320313 272.0575256347656 611.8738403320313 272.2950439453125 C 611.8738403320313 272.5325317382813 611.6813354492188 272.72509765625 611.44384765625 272.72509765625 Z">
            </path>
        </svg>
        <svg class="Trazado_83" viewBox="521.838 238.495 0.86 142.344">
            <path id="Trazado_83" d="M 522.2680053710938 380.839111328125 C 522.030517578125 380.839111328125 521.8380126953125 380.6465759277344 521.8380126953125 380.4090576171875 L 521.8380126953125 238.9250335693359 C 521.8380126953125 238.6875152587891 522.030517578125 238.4949951171875 522.2680053710938 238.4949951171875 C 522.5054931640625 238.4949951171875 522.6981201171875 238.6875152587891 522.6981201171875 238.9250335693359 L 522.6981201171875 380.4090576171875 C 522.6981201171875 380.6465454101563 522.505615234375 380.8390502929688 522.26806640625 380.839111328125 Z">
            </path>
        </svg>
        <svg class="Trazado_84" viewBox="672.838 238.495 0.86 142.344">
            <path id="Trazado_84" d="M 673.26806640625 380.839111328125 C 673.030517578125 380.839111328125 672.8380126953125 380.6465759277344 672.8380126953125 380.4090576171875 L 672.8380126953125 238.9250335693359 C 672.8380126953125 238.6875152587891 673.030517578125 238.4949951171875 673.26806640625 238.4949951171875 C 673.505615234375 238.4949951171875 673.6981201171875 238.6875152587891 673.6981201171875 238.9250335693359 L 673.6981201171875 380.4090576171875 C 673.6981201171875 380.6465148925781 673.505615234375 380.8390502929688 673.26806640625 380.839111328125 Z">
            </path>
        </svg>
        <svg class="Trazado_85" viewBox="823.838 238.495 0.86 142.344">
            <path id="Trazado_85" d="M 824.26806640625 380.839111328125 C 824.0305786132813 380.839111328125 823.8380126953125 380.6465759277344 823.8380126953125 380.4090576171875 L 823.8380126953125 238.9250335693359 C 823.8380126953125 238.6875152587891 824.0305786132813 238.4949951171875 824.26806640625 238.4949951171875 C 824.5055541992188 238.4949951171875 824.6981201171875 238.6875152587891 824.6981201171875 238.9250335693359 L 824.6981201171875 380.4090576171875 C 824.6981201171875 380.6465148925781 824.5055541992188 380.8390502929688 824.26806640625 380.839111328125 Z">
            </path>
        </svg>
        <svg class="Trazado_86" viewBox="384.714 324.963 19.584 22.414">
            <path id="Trazado_86" d="M 402.3629455566406 347.3768310546875 L 386.649169921875 347.3768310546875 C 385.5809020996094 347.3756103515625 384.7151794433594 346.5098876953125 384.7139892578125 345.441650390625 L 384.7139892578125 326.898193359375 C 384.7151489257813 325.8299560546875 385.5809020996094 324.9641723632813 386.6492004394531 324.9630126953125 L 402.3629455566406 324.9630126953125 C 403.4312438964844 324.9641723632813 404.2969665527344 325.8299560546875 404.2981567382813 326.898193359375 L 404.2981262207031 345.4414672851563 C 404.2970581054688 346.5098266601563 403.4313049316406 347.3756103515625 402.3629455566406 347.3768310546875 Z">
            </path>
        </svg>
        <svg class="Trazado_87" viewBox="436.714 447.963 19.584 22.414">
            <path id="Trazado_87" d="M 454.3629455566406 470.3768310546875 L 438.649169921875 470.3768310546875 C 437.5809020996094 470.3756713867188 436.7151794433594 469.5099487304688 436.7140197753906 468.441650390625 L 436.7140197753906 449.898193359375 C 436.7152099609375 448.8299560546875 437.5809326171875 447.9642333984375 438.649169921875 447.9630126953125 L 454.3629455566406 447.9630126953125 C 455.4312438964844 447.9641723632813 456.2969665527344 448.8298950195313 456.2981567382813 449.898193359375 L 456.2981567382813 468.4414672851563 C 456.2970581054688 469.5098266601563 455.4313049316406 470.3756713867188 454.3629455566406 470.3768310546875 Z">
            </path>
        </svg>
        <svg class="Trazado_88" viewBox="554.714 350.963 19.584 22.414">
            <path id="Trazado_88" d="M 572.3629760742188 373.3768310546875 L 556.6492309570313 373.3768310546875 C 555.5809936523438 373.3756103515625 554.7152709960938 372.5099182128906 554.7140502929688 371.441650390625 L 554.7140502929688 352.898193359375 C 554.7152709960938 351.8299560546875 555.5809936523438 350.9642333984375 556.6492309570313 350.9630126953125 L 572.3629760742188 350.9630126953125 C 573.4312744140625 350.9642333984375 574.2969970703125 351.8299560546875 574.2982177734375 352.898193359375 L 574.2982177734375 371.4414672851563 C 574.297119140625 372.5098266601563 573.431396484375 373.3756103515625 572.3629760742188 373.3768310546875 Z">
            </path>
        </svg>
        <svg class="Trazado_89" viewBox="707.714 303.963 19.584 22.414">
            <path id="Trazado_89" d="M 725.3629760742188 326.3768310546875 L 709.6492309570313 326.3768310546875 C 708.5809936523438 326.3756408691406 707.7152099609375 325.5099182128906 707.7140502929688 324.4416198730469 L 707.7140502929688 305.898193359375 C 707.7152709960938 304.8299255371094 708.5809936523438 303.9642333984375 709.6492309570313 303.9630126953125 L 725.3629760742188 303.9630126953125 C 726.4312133789063 303.9642333984375 727.2969360351563 304.8299255371094 727.2982177734375 305.898193359375 L 727.2982177734375 324.4414672851563 C 727.2970581054688 325.5098266601563 726.4313354492188 326.3756103515625 725.3629760742188 326.3768310546875 Z">
            </path>
        </svg>
        <svg class="Trazado_90" viewBox="848.714 303.963 19.584 22.414">
            <path id="Trazado_90" d="M 866.3629150390625 326.3768310546875 L 850.6492309570313 326.3768310546875 C 849.5809326171875 326.3756408691406 848.7152099609375 325.5099182128906 848.7139892578125 324.4416198730469 L 848.7139892578125 305.898193359375 C 848.7152709960938 304.8299255371094 849.5809326171875 303.9642333984375 850.6492309570313 303.9630126953125 L 866.3629150390625 303.9630126953125 C 867.4312744140625 303.9642333984375 868.296875 304.8299255371094 868.2981567382813 305.898193359375 L 868.2981567382813 324.4414672851563 C 868.2970581054688 325.5098266601563 867.4312744140625 326.3756103515625 866.3629150390625 326.3768310546875 Z">
            </path>
        </svg>
        <svg class="Trazado_91" viewBox="913.714 315.963 19.584 22.414">
            <path id="Trazado_91" d="M 931.3629150390625 338.3768310546875 L 915.6492309570313 338.3768310546875 C 914.5809326171875 338.3756103515625 913.7152709960938 337.5099182128906 913.7140502929688 336.441650390625 L 913.7139892578125 317.898193359375 C 913.7152709960938 316.8299255371094 914.5809326171875 315.9642333984375 915.6492309570313 315.9630126953125 L 931.3629150390625 315.9630126953125 C 932.4312133789063 315.9642333984375 933.2969360351563 316.8299255371094 933.2981567382813 317.898193359375 L 933.2981567382813 336.4414672851563 C 933.2970581054688 337.5097961425781 932.4313354492188 338.3756103515625 931.3629150390625 338.3768310546875 Z">
            </path>
        </svg>
        <svg class="Trazado_92" viewBox="884.714 392.963 19.584 22.414">
            <path id="Trazado_92" d="M 902.3629760742188 415.3768310546875 L 886.6492309570313 415.3768310546875 C 885.5809936523438 415.3756408691406 884.7152709960938 414.5099182128906 884.714111328125 413.4416809082031 L 884.7140502929688 394.8982238769531 C 884.7152709960938 393.8299560546875 885.5809936523438 392.9642333984375 886.6492919921875 392.9630432128906 L 902.3629760742188 392.9630432128906 C 903.4312744140625 392.9642333984375 904.2969970703125 393.8299560546875 904.2982177734375 394.898193359375 L 904.2982177734375 413.4414672851563 C 904.2970581054688 414.5098266601563 903.4313354492188 415.3756408691406 902.3629760742188 415.3768310546875 Z">
            </path>
        </svg>
        <svg class="Trazado_93" viewBox="760.714 376.963 19.584 22.414">
            <path id="Trazado_93" d="M 778.3629760742188 399.3768310546875 L 762.6492309570313 399.3768310546875 C 761.5809936523438 399.3756103515625 760.7152709960938 398.5099182128906 760.714111328125 397.441650390625 L 760.714111328125 378.898193359375 C 760.7152709960938 377.8299255371094 761.5809936523438 376.9642333984375 762.6492309570313 376.9630126953125 L 778.3629760742188 376.9630126953125 C 779.4312133789063 376.9642333984375 780.2969360351563 377.8299255371094 780.2982177734375 378.898193359375 L 780.2982177734375 397.4414672851563 C 780.2970581054688 398.5098266601563 779.4313354492188 399.3756103515625 778.3629760742188 399.3768310546875 Z">
            </path>
        </svg>
        <svg class="Trazado_94" viewBox="689.714 392.963 19.584 22.414">
            <path id="Trazado_94" d="M 707.3629150390625 415.3768310546875 L 691.649169921875 415.3768310546875 C 690.5809326171875 415.3756408691406 689.7152099609375 414.5099182128906 689.7139892578125 413.4416809082031 L 689.7139892578125 394.8982238769531 C 689.7152099609375 393.8299560546875 690.5809326171875 392.9642333984375 691.649169921875 392.9630432128906 L 707.3629150390625 392.9630432128906 C 708.4312744140625 392.9642333984375 709.2969970703125 393.8299560546875 709.2982177734375 394.898193359375 L 709.2982177734375 413.4414672851563 C 709.297119140625 414.5098266601563 708.4312744140625 415.3756408691406 707.3629150390625 415.3768310546875 Z">
            </path>
        </svg>
        <svg class="Trazado_95" viewBox="536.714 460.963 19.584 22.414">
            <path id="Trazado_95" d="M 554.3629760742188 483.3768310546875 L 538.6492309570313 483.3768310546875 C 537.5809936523438 483.3756103515625 536.7152709960938 482.5098876953125 536.7140502929688 481.4415893554688 L 536.7140502929688 462.898193359375 C 536.7152099609375 461.8298950195313 537.5809936523438 460.9641723632813 538.6492309570313 460.9629516601563 L 554.3629760742188 460.9630126953125 C 555.4312744140625 460.9641723632813 556.2969970703125 461.8298950195313 556.2981567382813 462.898193359375 L 556.2981567382813 481.4414672851563 C 556.2970581054688 482.5098266601563 555.4313354492188 483.3756103515625 554.3629760742188 483.3768310546875 Z">
            </path>
        </svg>
        <svg class="Trazado_96" viewBox="351.714 403.963 19.584 22.414">
            <path id="Trazado_96" d="M 369.3629760742188 426.3768310546875 L 353.649169921875 426.3768310546875 C 352.5809326171875 426.3756713867188 351.7152099609375 425.5099487304688 351.7139892578125 424.441650390625 L 351.7139892578125 405.898193359375 C 351.7151489257813 404.8299560546875 352.5809326171875 403.9642028808594 353.649169921875 403.9630432128906 L 369.3629760742188 403.9630432128906 C 370.4312744140625 403.9642028808594 371.2969970703125 404.8299560546875 371.2981567382813 405.8982238769531 L 371.298095703125 424.4414672851563 C 371.2970581054688 425.5098266601563 370.4312744140625 426.3756713867188 369.3629760742188 426.3768310546875 Z">
            </path>
        </svg>
        <svg class="Trazado_97" viewBox="454.714 324.963 19.584 22.414">
            <path id="Trazado_97" d="M 472.3629455566406 347.3768310546875 L 456.649169921875 347.3768310546875 C 455.5809020996094 347.3756103515625 454.7151794433594 346.5098876953125 454.7139892578125 345.441650390625 L 454.7139892578125 326.898193359375 C 454.7151489257813 325.8299560546875 455.5808715820313 324.9642333984375 456.649169921875 324.9630126953125 L 472.3629455566406 324.9630126953125 C 473.4312133789063 324.9641723632813 474.2969665527344 325.8299560546875 474.2981262207031 326.898193359375 L 474.2981262207031 345.4414672851563 C 474.2970581054688 346.5098266601563 473.4313049316406 347.3756103515625 472.3629455566406 347.3768310546875 Z">
            </path>
        </svg>
        <svg class="Trazado_98" viewBox="404.838 249.495 27.953 3.44">
            <path id="Trazado_98" d="M 431.0706176757813 252.9353332519531 L 406.5582275390625 252.9353332519531 C 405.608154296875 252.9353332519531 404.8380126953125 252.1651916503906 404.8380126953125 251.2151641845703 C 404.8380126953125 250.2651519775391 405.608154296875 249.4949951171875 406.5582275390625 249.4949951171875 L 431.0706176757813 249.4949951171875 C 432.0206298828125 249.4949951171875 432.790771484375 250.2651519775391 432.790771484375 251.2151641845703 C 432.790771484375 252.1651916503906 432.0206298828125 252.9353332519531 431.0706176757813 252.9353332519531 Z">
            </path>
        </svg>
        <svg class="Trazado_99" viewBox="565.838 249.495 27.953 3.44">
            <path id="Trazado_99" d="M 592.070556640625 252.9353332519531 L 567.5581665039063 252.9353332519531 C 566.6080932617188 252.9353332519531 565.8380126953125 252.1651916503906 565.8380126953125 251.2151641845703 C 565.8380126953125 250.2651519775391 566.6080932617188 249.4949951171875 567.5581665039063 249.4949951171875 L 592.070556640625 249.4949951171875 C 593.0206298828125 249.4949951171875 593.790771484375 250.2651519775391 593.790771484375 251.2151641845703 C 593.790771484375 252.1651916503906 593.0206298828125 252.9353332519531 592.070556640625 252.9353332519531 Z">
            </path>
        </svg>
        <svg class="Trazado_100" viewBox="716.838 249.495 27.953 3.44">
            <path id="Trazado_100" d="M 743.070556640625 252.9353332519531 L 718.5581665039063 252.9353332519531 C 717.6080932617188 252.9353332519531 716.8380126953125 252.1651916503906 716.8380126953125 251.2151641845703 C 716.8380126953125 250.2651519775391 717.6080932617188 249.4949951171875 718.5581665039063 249.4949951171875 L 743.070556640625 249.4949951171875 C 744.0206298828125 249.4949951171875 744.790771484375 250.2651519775391 744.790771484375 251.2151641845703 C 744.790771484375 252.1651916503906 744.0206298828125 252.9353332519531 743.070556640625 252.9353332519531 Z">
            </path>
        </svg>
        <svg class="Trazado_101" viewBox="857.838 249.495 27.953 3.44">
            <path id="Trazado_101" d="M 884.0706176757813 252.9353332519531 L 859.5582275390625 252.9353332519531 C 858.608154296875 252.9353332519531 857.8380126953125 252.1651916503906 857.8380126953125 251.2151641845703 C 857.8380126953125 250.2651519775391 858.608154296875 249.4949951171875 859.5582275390625 249.4949951171875 L 884.0706176757813 249.4949951171875 C 885.0206909179688 249.4949951171875 885.790771484375 250.2651519775391 885.790771484375 251.2151641845703 C 885.790771484375 252.1651916503906 885.0206909179688 252.9353332519531 884.0706176757813 252.9353332519531 Z">
            </path>
        </svg>
        <svg class="Trazado_102" viewBox="303.838 510.357 19.565 17.238">
            <path id="Trazado_102" d="M 318.6026306152344 527.571533203125 C 317.3289184570313 527.44677734375 316.1758728027344 526.7642211914063 315.4537658691406 525.70751953125 C 314.731689453125 524.65087890625 314.5147399902344 523.32861328125 314.8612976074219 522.0966186523438 L 303.8380126953125 511.8353576660156 L 309.6662902832031 510.3568420410156 L 320.5057983398438 519.1485595703125 C 322.5823974609375 519.884033203125 323.7806701660156 522.056396484375 323.295166015625 524.2052001953125 C 322.8096313476563 526.35400390625 320.7936706542969 527.8001098632813 318.6026306152344 527.5712890625 Z">
            </path>
        </svg>
        <svg class="Trazado_103" viewBox="184.402 518.965 7.781 20.336">
            <path id="Trazado_103" d="M 184.4028472900391 539.3008422851563 L 189.6751708984375 539.3008422851563 L 192.1831817626953 518.9650268554688 L 184.4019775390625 518.9650268554688 L 184.4028472900391 539.3008422851563 Z">
            </path>
        </svg>
        <svg class="Trazado_104" viewBox="0 0 16.57 6.402">
            <path id="Trazado_104" d="M 0 -1.033975765691285e-25 L 16.56984519958496 1.414949306439067e-19 L 16.56984519958496 6.401990413665771 L 6.402039051055908 6.401990413665771 C 2.866318464279175 6.401990413665771 3.632527659647167e-05 3.535708427429199 3.632527659647167e-05 2.067951531382569e-25 L 3.632527659647167e-05 2.067951531382569e-25 L 0 -1.033975765691285e-25 Z">
            </path>
        </svg>
        <svg class="Trazado_105" viewBox="100.345 511.705 12.75 21.008">
            <path id="Trazado_105" d="M 100.3450088500977 531.356201171875 L 105.4401473999023 532.7125854492188 L 113.0953369140625 513.7064208984375 L 105.576042175293 511.7049560546875 L 100.3450088500977 531.356201171875 Z">
            </path>
        </svg>
        <svg class="Trazado_106" viewBox="0 0 16.57 6.402">
            <path id="Trazado_106" d="M 0 0 L 16.56984519958496 0 L 16.56984519958496 6.40201473236084 L 6.402039051055908 6.40201473236084 C 2.866318464279175 6.40201473236084 3.632527659647167e-05 3.535732746124268 3.632527659647167e-05 0 L 3.632527659647167e-05 0 L 0 0 Z">
            </path>
        </svg>
        <svg class="Trazado_107" viewBox="287.339 499.963 47.415 93.677">
            <path id="Trazado_107" d="M 331.110595703125 593.6402587890625 L 323.0657958984375 593.6402587890625 C 322.0125122070313 593.6439819335938 321.130615234375 592.8428955078125 321.0333862304688 591.7941284179688 L 316.1494140625 541.078369140625 C 316.0756225585938 540.3111572265625 315.4689331054688 539.70361328125 314.7018127441406 539.6287231445313 C 313.9347229003906 539.5538330078125 313.221923828125 540.032470703125 313.0010986328125 540.77099609375 L 298.8212890625 588.1615600585938 C 298.5096740722656 589.2081298828125 297.4290771484375 589.823486328125 296.3700256347656 589.5575561523438 L 288.885986328125 587.6861572265625 C 288.3583984375 587.5543212890625 287.9052124023438 587.217529296875 287.6268920898438 586.7503051757813 C 287.3486022949219 586.2830810546875 287.2681884765625 585.72412109375 287.4035034179688 585.197509765625 C 287.5256958007813 584.719970703125 299.6213073730469 537.45068359375 299.7269287109375 536.9647216796875 C 302.467529296875 516.7666015625 305.7462768554688 511.3540954589844 307.5076904296875 508.4466552734375 C 307.6535034179688 508.2060546875 307.7874755859375 507.9847106933594 307.9081115722656 507.7755737304688 C 308.05908203125 507.5139465332031 308.9885864257813 504.9181213378906 309.5782165527344 503.2323913574219 C 309.7330322265625 502.677978515625 310.1127319335938 502.2136840820313 310.6253662109375 501.951904296875 C 318.0267333984375 498.166748046875 326.6863403320313 500.7869262695313 329.1641235351563 501.68017578125 C 329.5748901367188 501.8248596191406 329.927734375 502.0988159179688 330.169677734375 502.4609069824219 C 337.602783203125 513.6726684570313 333.9550170898438 578.78955078125 333.1482543945313 591.7296142578125 C 333.0784301757813 592.8038330078125 332.1871337890625 593.6396484375 331.110595703125 593.640380859375 Z">
            </path>
        </svg>
        <svg class="Elipse_6">
            <ellipse id="Elipse_6" rx="10.562275886535645" ry="10.562275886535645" cx="10.562275886535645" cy="10.562275886535645">
            </ellipse>
        </svg>
        <svg class="Trazado_108" viewBox="308.869 426.41 33.305 36.95">
            <path id="Trazado_108" d="M 321.5012817382813 463.3606872558594 L 321.4254150390625 463.2872009277344 C 321.2830200195313 463.1494750976563 307.2100524902344 449.3624572753906 309.0313110351563 436.6140441894531 C 309.8102416992188 431.1612243652344 314.2220458984375 427.6772155761719 321.7897338867188 426.537841796875 C 327.53759765625 425.6842041015625 333.0377807617188 429.1898498535156 334.6908569335938 434.7607421875 L 342.173583984375 460.3415832519531 L 321.5012817382813 463.3606872558594 Z">
            </path>
        </svg>
        <svg class="Trazado_109" viewBox="294.326 445.771 16.764 38.431">
            <path id="Trazado_109" d="M 306.0096435546875 484.2018737792969 L 295.9817199707031 474.2374267578125 C 294.5872802734375 472.8439025878906 294.0201721191406 470.82421875 294.4852600097656 468.9085083007813 L 299.3398742675781 449.1614074707031 C 299.6337585449219 447.9653930664063 300.4099426269531 446.9444885253906 301.4838562011719 446.3414611816406 C 302.5577392578125 445.7384643554688 303.8334350585938 445.607177734375 305.0076293945313 445.9788208007813 C 307.3096008300781 446.7208251953125 308.6061096191406 449.1568908691406 307.9358520507813 451.4807434082031 L 302.8251647949219 468.8528137207031 L 311.08984375 477.7274475097656 L 306.0096435546875 484.2018737792969 Z">
            </path>
        </svg>
        <svg class="Trazado_110" viewBox="400.553 441.648 20.201 14.868">
            <path id="Trazado_110" d="M 420.340576171875 447.8446655273438 C 419.8038330078125 449.0064697265625 418.7800598144531 449.8708190917969 417.5447387695313 450.2052001953125 C 416.3094177246094 450.5395812988281 414.9894104003906 450.3096008300781 413.93994140625 449.5771789550781 L 400.5530090332031 456.515625 L 401.1447143554688 450.6215209960938 L 413.0125122070313 443.2768859863281 C 414.3901062011719 441.5577392578125 416.8358154296875 441.1405944824219 418.7053833007813 442.305908203125 C 420.5749206542969 443.4712219238281 421.2774353027344 445.8507080078125 420.3406372070313 447.8445739746094 Z">
            </path>
        </svg>
        <svg class="Trazado_111" viewBox="342.547 431.635 36.87 20.975">
            <path id="Trazado_111" d="M 379.4170532226563 446.5253601074219 L 366.3668518066406 452.164794921875 C 364.600341796875 452.9221496582031 362.5668334960938 452.7040100097656 361.0011901855469 451.5891723632813 L 344.4063720703125 439.6988830566406 C 343.4051818847656 438.9815368652344 342.745849609375 437.8816223144531 342.5850219726563 436.6605529785156 C 342.4242248535156 435.4394836425781 342.7762756347656 434.2063598632813 343.5575256347656 433.2542419433594 C 345.1016845703125 431.3925170898438 347.8454284667969 431.0939025878906 349.7538757324219 432.5799560546875 L 363.9833068847656 443.7791442871094 L 375.2935180664063 439.4033508300781 L 379.4170532226563 446.5253601074219 Z">
            </path>
        </svg>
        <svg class="Trazado_112" viewBox="285.828 364.085 33.749 47.788">
            <path id="Trazado_112" d="M 311.239013671875 380.5578308105469 C 312.5420532226563 378.9251708984375 314.9764404296875 378.83740234375 316.7662658691406 377.760498046875 C 319.1108093261719 376.3497924804688 320.080078125 373.1973876953125 319.3245544433594 370.5675659179688 C 318.5690307617188 367.9377746582031 316.3408813476563 365.8882751464844 313.7863159179688 364.9080810546875 C 311.231689453125 363.9278564453125 308.3895263671875 363.915771484375 305.6946716308594 364.3895874023438 C 301.6822814941406 365.0950622558594 297.73193359375 366.9677429199219 295.2848205566406 370.2247924804688 C 292.837646484375 373.4818420410156 292.2149047851563 378.2518920898438 294.4326782226563 381.6692504882813 C 295.4520263671875 383.2399291992188 297.0255126953125 384.5364074707031 297.4324645996094 386.3640747070313 C 297.9666748046875 388.7635192871094 296.2836303710938 391.0776672363281 294.4805297851563 392.7484741210938 C 292.4263610839844 394.6519775390625 290.0696411132813 396.2461853027344 288.2698974609375 398.3918762207031 C 286.47021484375 400.53759765625 285.2700805664063 403.4690551757813 286.09130859375 406.1465148925781 C 286.7793579101563 408.3897705078125 288.7816162109375 410.0424499511719 290.9771728515625 410.8701477050781 C 293.1727600097656 411.6978454589844 295.5640869140625 411.8174133300781 297.9100341796875 411.86328125 C 300.1880187988281 411.9078369140625 302.6076049804688 411.8524169921875 304.5266418457031 410.6241455078125 C 306.5809936523438 409.3092346191406 307.6779174804688 406.814697265625 307.7589721679688 404.3768920898438 C 307.8399963378906 401.9390563964844 307.0253295898438 399.5507202148438 305.93359375 397.3695373535156 C 305.2828369140625 396.0694885253906 304.5261840820313 394.8096923828125 304.0938110351563 393.421630859375 C 303.661376953125 392.0335693359375 303.5864868164063 390.4585876464844 304.2789306640625 389.1802368164063 C 305.0068664550781 387.8365173339844 306.4795532226563 387.0261535644531 307.9790954589844 386.7315063476563 C 308.0570068359375 386.7161865234375 308.139404296875 386.7025451660156 308.2256469726563 386.6903381347656 C 309.0878295898438 386.5785217285156 309.86669921875 386.1187133789063 310.3811645507813 385.4178771972656 C 310.8956298828125 384.7170104980469 311.1008911132813 383.836181640625 310.94921875 382.9800720214844 C 310.7784423828125 382.0276794433594 310.7930908203125 381.1163940429688 311.239013671875 380.5578308105469 Z">
            </path>
        </svg>
        <svg class="Trazado_113" viewBox="465.137 520.012 7.781 20.336">
            <path id="Trazado_113" d="M 472.9172973632813 540.3478393554688 L 467.64501953125 540.3478393554688 L 465.136962890625 520.011962890625 L 472.9181823730469 520.012451171875 L 472.9172973632813 540.3478393554688 Z">
            </path>
        </svg>
        <svg class="Trazado_114" viewBox="447.325 563.797 16.57 6.402">
            <path id="Trazado_114" d="M 453.72705078125 563.7969970703125 L 463.8949279785156 563.7969970703125 L 463.8949279785156 570.198974609375 L 447.3250122070313 570.198974609375 L 447.3250122070313 570.198974609375 C 447.3250122070313 566.6632080078125 450.1913146972656 563.7969360351563 453.7270812988281 563.7969970703125 Z">
            </path>
        </svg>
        <svg class="Trazado_115" viewBox="536.079 510.399 15.527 20.688">
            <path id="Trazado_115" d="M 551.6056518554688 528.8968505859375 L 546.8102416992188 531.0870361328125 L 536.0789794921875 513.632080078125 L 543.1571044921875 510.3989868164063 L 551.6056518554688 528.8968505859375 Z">
            </path>
        </svg>
        <svg class="Trazado_116" viewBox="0 0 16.57 6.402">
            <path id="Trazado_116" d="M 6.40201473236084 4.478449539381882e-16 L 16.56991958618164 1.15913070699962e-15 L 16.56991958618164 6.401990413665771 L 0 6.401990413665771 L 0 6.401990413665771 C 2.421684985165484e-05 2.866282224655151 2.86630654335022 2.005079452081435e-16 6.40201473236084 4.478449539381882e-16 Z">
            </path>
        </svg>
        <svg class="Trazado_117" viewBox="709.401 520.254 13.527 21.575">
            <path id="Trazado_117" d="M 716.3858642578125 540.9379272460938 C 717.4083862304688 540.1683959960938 718.03759765625 538.9854125976563 718.1041259765625 537.7073364257813 C 718.1705932617188 536.4293212890625 717.6675415039063 535.1873779296875 716.7303466796875 534.31591796875 L 722.9280395507813 520.2535400390625 L 715.0545654296875 521.587890625 L 710.3762817382813 534.7372436523438 C 708.9860229492188 536.4461669921875 709.0936889648438 538.9248657226563 710.6268920898438 540.5068969726563 C 712.16015625 542.0888061523438 714.6342163085938 542.2740478515625 716.3859252929688 540.9379272460938 Z">
            </path>
        </svg>
        <svg class="Trazado_118" viewBox="649.01 535.768 45.788 77.218">
            <path id="Trazado_118" d="M 658.7283935546875 612.986083984375 L 653.6917724609375 612.986083984375 C 652.6787109375 612.982666015625 651.8385009765625 612.2012939453125 651.7615966796875 611.191162109375 L 649.014892578125 537.843505859375 C 648.9735717773438 537.2745971679688 649.1853637695313 536.7164306640625 649.5936889648438 536.3180541992188 C 650.0020141601563 535.9197387695313 650.5652465820313 535.7218627929688 651.1329956054688 535.77734375 L 680.2619018554688 538.8707885742188 C 681.2391357421875 538.9663696289063 681.989990234375 539.7784423828125 682.0087890625 540.7601928710938 L 682.6192626953125 573.1146240234375 C 682.6224975585938 573.290283203125 682.656494140625 573.4639282226563 682.7198486328125 573.6278076171875 L 694.6686401367188 604.613525390625 C 694.8551635742188 605.0970458984375 694.83984375 605.6351928710938 694.6261596679688 606.107421875 C 694.4124755859375 606.57958984375 694.018310546875 606.9462890625 693.531982421875 607.1253051757813 L 688.4281005859375 609.0059204101563 C 687.5107421875 609.3436889648438 686.4854736328125 608.9444580078125 686.0381469726563 608.0752563476563 L 671.3596801757813 579.5337524414063 C 671.27978515625 579.3786010742188 671.2212524414063 579.2133178710938 671.1858520507813 579.0424194335938 L 668.6782836914063 566.9608764648438 C 668.5281372070313 566.2372436523438 667.8748168945313 565.729736328125 667.1365966796875 565.7631225585938 C 666.3983154296875 565.7965698242188 665.7935180664063 566.3610229492188 665.7093505859375 567.0952758789063 L 660.651123046875 611.2706909179688 C 660.5396118164063 612.2481689453125 659.7122802734375 612.9862670898438 658.7283935546875 612.986083984375 Z">
            </path>
        </svg>
        <svg class="Elipse_7">
            <ellipse id="Elipse_7" rx="10.562275886535645" ry="10.562275886535645" cx="10.562275886535645" cy="10.562275886535645">
            </ellipse>
        </svg>
        <svg class="Trazado_119" viewBox="647.173 417.906 34.405 59.468">
            <path id="Trazado_119" d="M 667.4332275390625 477.374267578125 C 660.2705078125 477.2953186035156 653.278564453125 475.1773681640625 647.2760009765625 471.2684020996094 L 647.1732177734375 471.1974792480469 L 647.183837890625 471.0729675292969 L 651.2239990234375 424.0194091796875 C 651.511962890625 420.7182922363281 654.192626953125 418.1364135742188 657.502197265625 417.9723510742188 C 662.7384033203125 417.7317504882813 669.771728515625 418.03515625 673.53662109375 420.8392639160156 C 679.2264404296875 425.0771179199219 681.9688720703125 431.4586181640625 681.060546875 438.3473205566406 C 679.1768798828125 452.6328125 681.310791015625 471.9032592773438 681.5601806640625 474.053466796875 L 681.5782470703125 474.2084350585938 L 681.4365234375 474.2735290527344 C 677.0501708984375 476.314208984375 672.2711181640625 477.3724365234375 667.4332275390625 477.3742980957031 Z">
            </path>
        </svg>
        <svg class="Trazado_120" viewBox="709.616 443.171 18.767 45.362">
            <path id="Trazado_120" d="M 717.101318359375 488.5325317382813 C 716.4993896484375 488.531494140625 715.92529296875 488.2785034179688 715.5184326171875 487.8349914550781 L 713.2080078125 485.3143615722656 C 712.700439453125 484.7572021484375 712.5196533203125 483.975830078125 712.7310791015625 483.2523498535156 L 717.9993896484375 465.4210815429688 L 709.9833984375 448.5876770019531 C 709.609130859375 447.7997131347656 709.5174560546875 446.9068908691406 709.7237548828125 446.0592956542969 C 710.09619140625 444.5362548828125 711.3682861328125 443.3999633789063 712.923583984375 443.2012634277344 C 714.4788818359375 443.0025939941406 715.995849609375 443.7825317382813 716.7391357421875 445.1630859375 L 727.616943359375 462.8128967285156 C 728.51416015625 464.2668762207031 728.6302490234375 466.0716857910156 727.926513671875 467.6285705566406 L 719.0633544921875 487.2664794921875 C 718.7667236328125 487.9259643554688 718.1578369140625 488.3915405273438 717.4437255859375 488.5049743652344 C 717.3304443359375 488.523193359375 717.2159423828125 488.5324096679688 717.101318359375 488.5325317382813 Z">
            </path>
        </svg>
        <svg class="Trazado_121" viewBox="549.77 451.185 23.466 8.708">
            <path id="Trazado_121" d="M 551.5460815429688 459.0389404296875 C 552.572998046875 459.8027038574219 553.8854370117188 460.0723876953125 555.1303100585938 459.7754516601563 C 556.3751220703125 459.478515625 557.4244995117188 458.6454162597656 557.99609375 457.5003662109375 L 573.2359619140625 459.4769287109375 L 569.7335205078125 452.3001708984375 L 555.7984008789063 451.5235290527344 C 553.7664794921875 450.6722717285156 551.4191284179688 451.4751586914063 550.334228515625 453.3925170898438 C 549.2493286132813 455.3098754882813 549.7699584960938 457.7356262207031 551.5460205078125 459.0389404296875 Z">
            </path>
        </svg>
        <svg class="Trazado_122" viewBox="569.623 417.024 47.934 26.464">
            <path id="Trazado_122" d="M 596.4525756835938 443.4877319335938 C 596.1875610351563 443.4877319335938 595.9224853515625 443.4694213867188 595.6596069335938 443.4329833984375 L 571.6839599609375 440.107666015625 C 570.8880615234375 439.9983520507813 570.2008056640625 439.4953002929688 569.85595703125 438.7696533203125 C 569.8011474609375 438.6546020507813 569.7554321289063 438.5353393554688 569.7192993164063 438.4131469726563 L 569.7191772460938 438.4131469726563 C 569.5316162109375 437.7711791992188 569.621337890625 437.0801391601563 569.9664306640625 436.50732421875 L 571.950439453125 433.2179565429688 C 572.3845825195313 432.5030517578125 573.1593017578125 432.0654907226563 573.9956665039063 432.0628662109375 L 573.9989624023438 432.0628662109375 L 594.897216796875 432.0867919921875 L 610.5051879882813 418.1030883789063 C 611.2313232421875 417.4540405273438 612.15869140625 417.074462890625 613.1315307617188 417.0281982421875 C 614.8800659179688 416.9471435546875 616.4978637695313 417.95166015625 617.2007446289063 419.5548095703125 C 617.9036254882813 421.1578979492188 617.5462646484375 423.0283203125 616.302001953125 424.259521484375 L 600.7280883789063 441.5809326171875 C 599.6381225585938 442.7944946289063 598.0838012695313 443.4877319335938 596.45263671875 443.4877319335938 Z">
            </path>
        </svg>
        <svg class="Trazado_123" viewBox="645.293 348.308 27.682 24.523">
            <path id="Trazado_123" d="M 660.3189697265625 372.4828796386719 C 661.2841796875 370.2489929199219 662.1009521484375 367.2740173339844 660.2496337890625 365.6946411132813 C 659.17578125 364.7785034179688 657.6290283203125 364.776611328125 656.2220458984375 364.6626586914063 C 652.2581787109375 364.341552734375 648.1778564453125 362.5177307128906 646.2403564453125 359.0447387695313 C 644.302978515625 355.5717468261719 645.385009765625 350.4075927734375 649.0400390625 348.8406677246094 C 651.50390625 347.7845153808594 654.3284912109375 348.5040283203125 656.907470703125 349.2353210449219 L 664.6507568359375 351.4310913085938 C 666.951416015625 352.08349609375 669.3671875 352.8030395507813 671.0235595703125 354.5280151367188 C 673.6650390625 357.2791442871094 673.4676513671875 361.9297790527344 671.3695068359375 365.1148376464844 C 669.2713623046875 368.2998657226563 666.1116943359375 371.6217041015625 662.4945068359375 372.8309936523438 L 660.3189697265625 372.4828796386719 Z">
            </path>
        </svg>
        <svg class="Trazado_124" viewBox="189.162 737.124 318.522 1.024">
            <path id="Trazado_124" d="M 507.1722106933594 738.1477661132813 L 189.6743011474609 738.1477661132813 C 189.3915100097656 738.1477661132813 189.1622619628906 737.91845703125 189.1622619628906 737.6356811523438 C 189.1622619628906 737.3529052734375 189.3915100097656 737.1236572265625 189.6743011474609 737.1236572265625 L 507.1722106933594 737.1236572265625 C 507.4549560546875 737.1236572265625 507.6842346191406 737.3529052734375 507.6842346191406 737.6356811523438 C 507.6842346191406 737.91845703125 507.4549560546875 738.1477661132813 507.1722106933594 738.1477661132813 Z">
            </path>
        </svg>
    </div>
</template>

<style scoped>
    #undraw_Scrum_board_re_wk7v {
		position:relative;
		width: 353.356px;
		height: 249px;
		/*left: 1347px;
		top: 386px;
		overflow: visible; */
	}
    #Trazado_80 {
		fill: rgba(242,242,242,1);
	}
	.Trazado_80 {
		overflow: visible;
		position: absolute;
		width: 57.363px;
		height: 57.545px;
		left: 20.937px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_81 {
		fill: rgba(63,61,86,1);
	}
	.Trazado_81 {
		overflow: visible;
		position: absolute;
		width: 306.621px;
		height: 170.297px;
		left: 46.735px;
		top: 24.083px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_82 {
		fill: rgba(63,61,86,1);
	}
	.Trazado_82 {
		overflow: visible;
		position: absolute;
		width: 261.036px;
		height: 0.86px;
		left: 69.527px;
		top: 47.895px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_83 {
		fill: rgba(63,61,86,1);
	}
	.Trazado_83 {
		overflow: visible;
		position: absolute;
		width: 0.86px;
		height: 142.344px;
		left: 143.064px;
		top: 33.544px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_84 {
		fill: rgba(63,61,86,1);
	}
	.Trazado_84 {
		overflow: visible;
		position: absolute;
		width: 0.86px;
		height: 142.344px;
		left: 208.001px;
		top: 33.544px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_85 {
		fill: rgba(63,61,86,1);
	}
	.Trazado_85 {
		overflow: visible;
		position: absolute;
		width: 0.86px;
		height: 142.344px;
		left: 272.938px;
		top: 33.544px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_86 {
		fill: rgba(190,140,41,1);
	}
	.Trazado_86 {
		overflow: visible;
		position: absolute;
		width: 19.584px;
		height: 22.414px;
		left: 84.095px;
		top: 70.729px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_87 {
		fill: rgba(190,140,41,1);
	}
	.Trazado_87 {
		overflow: visible;
		position: absolute;
		width: 19.584px;
		height: 22.414px;
		left: 106.458px;
		top: 123.625px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_88 {
		fill: rgba(190,140,41,1);
	}
	.Trazado_88 {
		overflow: visible;
		position: absolute;
		width: 19.584px;
		height: 22.414px;
		left: 157.203px;
		top: 81.91px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_89 {
		fill: rgba(190,140,41,1);
	}
	.Trazado_89 {
		overflow: visible;
		position: absolute;
		width: 19.584px;
		height: 22.414px;
		left: 222.999px;
		top: 61.698px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_90 {
		fill: rgba(190,140,41,1);
	}
	.Trazado_90 {
		overflow: visible;
		position: absolute;
		width: 19.584px;
		height: 22.414px;
		left: 283.635px;
		top: 61.698px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_91 {
		fill: rgba(230,230,230,1);
	}
	.Trazado_91 {
		overflow: visible;
		position: absolute;
		width: 19.584px;
		height: 22.414px;
		left: 311.588px;
		top: 66.859px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_92 {
		fill: rgba(230,230,230,1);
	}
	.Trazado_92 {
		overflow: visible;
		position: absolute;
		width: 19.584px;
		height: 22.414px;
		left: 299.117px;
		top: 99.972px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_93 {
		fill: rgba(0,0,0,1);
	}
	.Trazado_93 {
		overflow: visible;
		position: absolute;
		width: 19.584px;
		height: 22.414px;
		left: 245.792px;
		top: 93.092px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_94 {
		fill: rgba(230,230,230,1);
	}
	.Trazado_94 {
		overflow: visible;
		position: absolute;
		width: 19.584px;
		height: 22.414px;
		left: 215.258px;
		top: 99.972px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_95 {
		fill: rgba(230,230,230,1);
	}
	.Trazado_95 {
		overflow: visible;
		position: absolute;
		width: 19.584px;
		height: 22.414px;
		left: 149.462px;
		top: 129.215px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_96 {
		fill: rgba(0,0,0,1);
	}
	.Trazado_96 {
		overflow: visible;
		position: absolute;
		width: 19.584px;
		height: 22.414px;
		left: 69.904px;
		top: 104.703px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_97 {
		fill: rgba(230,230,230,1);
	}
	.Trazado_97 {
		overflow: visible;
		position: absolute;
		width: 19.584px;
		height: 22.414px;
		left: 114.198px;
		top: 70.729px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_98 {
		fill: rgba(204,204,204,1);
	}
	.Trazado_98 {
		overflow: visible;
		position: absolute;
		width: 27.953px;
		height: 3.44px;
		left: 92.75px;
		top: 38.275px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_99 {
		fill: rgba(204,204,204,1);
	}
	.Trazado_99 {
		overflow: visible;
		position: absolute;
		width: 27.953px;
		height: 3.44px;
		left: 161.986px;
		top: 38.275px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_100 {
		fill: rgba(204,204,204,1);
	}
	.Trazado_100 {
		overflow: visible;
		position: absolute;
		width: 27.953px;
		height: 3.44px;
		left: 226.923px;
		top: 38.275px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_101 {
		fill: rgba(204,204,204,1);
	}
	.Trazado_101 {
		overflow: visible;
		position: absolute;
		width: 27.953px;
		height: 3.44px;
		left: 287.559px;
		top: 38.275px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_102 {
		fill: rgba(255,184,184,1);
	}
	.Trazado_102 {
		overflow: visible;
		position: absolute;
		width: 19.564px;
		height: 17.238px;
		left: 49.315px;
		top: 150.457px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_103 {
		fill: rgba(255,184,184,1);
	}
	.Trazado_103 {
		overflow: visible;
		position: absolute;
		width: 7.781px;
		height: 20.336px;
		left: 79.3px;
		top: 223.178px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_104 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_104 {
		overflow: visible;
		position: absolute;
		width: 16.57px;
		height: 6.402px;
		transform: translate(0px, 0.003px) matrix(1,0,0,1,78.1707,242.0054) rotate(179.997deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Trazado_105 {
		fill: rgba(255,184,184,1);
	}
	.Trazado_105 {
		overflow: visible;
		position: absolute;
		width: 12.75px;
		height: 21.008px;
		left: 43.152px;
		top: 220.056px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_106 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_106 {
		overflow: visible;
		position: absolute;
		width: 16.57px;
		height: 6.402px;
		transform: translate(0px, 0.003px) matrix(1,0,0,1,41.3467,239.9825) rotate(194.905deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Trazado_107 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_107 {
		overflow: visible;
		position: absolute;
		width: 47.415px;
		height: 93.677px;
		left: 42.22px;
		top: 145.987px;
		transform: matrix(1,0,0,1,0,0);
	}
    #Elipse_6 {
		fill: rgba(255,184,184,1);
	}
	.Elipse_6 {
		position: absolute;
		overflow: visible;
		width: 21.125px;
		height: 21.125px;
		left: 54.668px;
		top: 90.079px;
	}
    #Trazado_108 {
		fill: rgba(204,204,204,1);
	}
	.Trazado_108 {
		overflow: visible;
		position: absolute;
		width: 33.305px;
		height: 36.95px;
		left: 51.479px;
		top: 114.356px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_109 {
		fill: rgba(204,204,204,1);
	}
	.Trazado_109 {
		overflow: visible;
		position: absolute;
		width: 16.764px;
		height: 38.431px;
		left: 45.225px;
		top: 122.682px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_110 {
		fill: rgba(255,184,184,1);
	}
	.Trazado_110 {
		overflow: visible;
		position: absolute;
		width: 20.201px;
		height: 14.868px;
		left: 90.907px;
		top: 120.909px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_111 {
		fill: rgba(204,204,204,1);
	}
	.Trazado_111 {
		overflow: visible;
		position: absolute;
		width: 36.87px;
		height: 20.975px;
		left: 65.962px;
		top: 116.603px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_112 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_112 {
		overflow: visible;
		position: absolute;
		width: 33.749px;
		height: 47.788px;
		left: 41.57px;
		top: 87.553px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_113 {
		fill: rgba(160,97,106,1);
	}
	.Trazado_113 {
		overflow: visible;
		position: absolute;
		width: 7.781px;
		height: 20.336px;
		left: 200.029px;
		top: 223.628px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_114 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_114 {
		overflow: visible;
		position: absolute;
		width: 16.57px;
		height: 6.402px;
		left: 192.368px;
		top: 242.458px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_115 {
		fill: rgba(160,97,106,1);
	}
	.Trazado_115 {
		overflow: visible;
		position: absolute;
		width: 15.527px;
		height: 20.688px;
		left: 230.537px;
		top: 219.494px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_116 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_116 {
		overflow: visible;
		position: absolute;
		width: 16.57px;
		height: 6.402px;
		transform: translate(0px, 0.003px) matrix(1,0,0,1,231.9732,239.3044) rotate(-24.548deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
	}
	#Trazado_117 {
		fill: rgba(160,97,106,1);
	}
	.Trazado_117 {
		overflow: visible;
		position: absolute;
		width: 13.527px;
		height: 21.575px;
		left: 223.725px;
		top: 154.713px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_118 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_118 {
		overflow: visible;
		position: absolute;
		width: 45.789px;
		height: 77.218px;
		left: 197.754px;
		top: 161.385px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Elipse_7 {
		fill: rgba(160,97,106,1);
	}
	.Elipse_7 {
		position: absolute;
		overflow: visible;
		width: 21.125px;
		height: 21.125px;
		left: 199.418px;
		top: 84.985px;
	}
	#Trazado_119 {
		fill: rgba(190,140,41,1);
	}
	.Trazado_119 {
		overflow: visible;
		position: absolute;
		width: 34.405px;
		height: 59.468px;
		left: 196.964px;
		top: 110.699px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_120 {
		fill: rgba(190,140,41,1);
	}
	.Trazado_120 {
		overflow: visible;
		position: absolute;
		width: 18.767px;
		height: 45.362px;
		left: 223.817px;
		top: 121.564px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_121 {
		fill: rgba(160,97,106,1);
	}
	.Trazado_121 {
		overflow: visible;
		position: absolute;
		width: 23.466px;
		height: 8.708px;
		left: 155.077px;
		top: 125.01px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_122 {
		fill: rgba(190,140,41,1);
	}
	.Trazado_122 {
		overflow: visible;
		position: absolute;
		width: 47.934px;
		height: 26.464px;
		left: 163.614px;
		top: 110.319px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_123 {
		fill: rgba(47,46,65,1);
	}
	.Trazado_123 {
		overflow: visible;
		position: absolute;
		width: 27.682px;
		height: 24.523px;
		left: 196.156px;
		top: 80.769px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Trazado_124 {
		fill: rgba(63,61,86,1);
	}
	.Trazado_124 {
		overflow: visible;
		position: absolute;
		width: 318.522px;
		height: 1.024px;
		left: 0px;
		top: 247.976px;
		transform: matrix(1,0,0,1,0,0);
	}
</style>