<template>
    <section class="bg-login h-screen">
        <UserHeader/>
        <UserSections/>
        <UserFooter/>
    </section>
</template>

<style scoped>
    .bg-login{
        background-image: url(../assets/fondo-login-legalaid.png);
        background-size: cover;
    }
</style>

<script>
import UserHeader from '/src/components/UserHeader.vue';
import UserSections from '/src/components/UserSections.vue';
import UserFooter from '/src/components/UserFooter.vue';
export default{
    name:'UserDashboard',
    components:{
        UserHeader,
        UserSections,
        UserFooter
    }
}
</script>
