<template>
    <header class="bg-yellow-400">
        <nav class="flex flex-nowrap justify-end items-center">
            <UserCircleIcon class="w-10 h-10"/>
            <a href="#" v-text="nameUser" class="text-black px-4"></a>
            <a href="#" v-on:click="logout" class="text-red">Cerrar sesión</a>
        </nav>
    </header>
</template>

<script>
import {UserCircleIcon} from '@heroicons/vue/solid';

export default {
    name:'Header',
    data(){
        return{
            nameUser:'hola'
        }
    },
    methods:{
        logout(){
            this.$cookies.remove('remember');
            sessionStorage.removeItem('user');
            sessionStorage.removeItem('name');
            sessionStorage.removeItem('id');
            this.$router.replace('/');
        }
    },
    components:{
        UserCircleIcon
    },
    mounted(){
        this.nameUser=sessionStorage.getItem('name')
    }
}
</script>