<template>
    <div class="bg-login h-screen flex items-center justify-center">
        
        <div class="flex flex-col sm:flex-row md:flex-row lg:flex-row xl:flex-row m-4 lg:m-24 md:m-4">
            <div class="hidden sm:flex md:flex lg:flex xl:flex flex-col flex-1 bg-login-2">
                <div class="pt-6">
                    <h4 class="text-center text-white sm:text-4xl md:text-5xl lg:text-6xl xl:text-6xl font-bold" v-text="title"></h4>
                    <p class="text-center text-white firm">by ISO Hub</p>
                </div>
                <div class="bg-black bg-opacity-40 text-center lg:px-20 xl:px-20 sm:mt-48 lg:mt-60 xl:mt-60">
                    <h4 class="text-white sm:text-xl md:text-2xl lg:text-3xl xl:text-3xl">
                        Cumple fácilmente con las normas legales
                        aplicables a tus sistemas de gestión.
                    </h4>
                </div>
            </div>
            <div class="flex-1 bg-white bg-opacity-70 p-4">
                <transition name="fade">
                    <div v-if="error" class="flex bg-red-400 -m-4">
                        <p class="w-full text-white">Usuario o contraseña inconrrecto</p>
                        <XCircleIcon v-on:click="close" class="text-white h-6 w-6 cursor-pointer"/>
                    </div>
                </transition>
                <h3 class="text-black text-2xl font-semibold pt-10">Inicia sesión</h3>
                <form v-on:submit.prevent="login" class="flex flex-col p-4">
                    <div class="flex flex-row justify-center items-center mb-8">
                        <UserIcon class="w-10 h-10"/>
                        <input id="usuario" v-model="email" type="email" name="usuario" class="md:w-2/3 lg:w-3/5 xl:w-3/5 rounded-2xl py-3 px-2 outline-none border-2 border-black">
                    </div>
                    <div class="flex flex-row justify-center items-center mb-8">
                        <LockClosedIcon class="w-10 h-10"/>
                        <input id="clave" v-model="password" type="password" name="clave" class="md:w-2/3 lg:w-3/5 xl:w-3/5 rounded-2xl py-3 px-2 outline-none border-2 border-black">
                    </div>
                    <div class="flex justify-center mb-4">
                        <label for="remember" class="text-left cursor-pointer w-full md:w-2/3 lg:w-3/5 xl:w-3/5 font-semibold hover:text-gray-600"><input id="remember" v-model="remember" type="checkbox" name="remember" class="cursor-pointer"> Recordar credenciales</label>
                    </div>
                    <div class="text-center">
                        <input type="submit" name="sent" id="sent-mail" value="Acceder" class="bg-black text-white rounded-lg p-1 w-2/5 cursor-pointer hover:bg-gray-800">
                    </div>
                </form>
                <div class="flex justify-center p-4">
                    <a href="#" class="text-left cursor-pointer w-full md:w-2/3 lg:w-3/5 xl:w-3/5 font-semibold hover:text-gray-600">¿Ha olvidado su contraseña?</a>
                </div>
                <div class="flex justify-end">
                    <img id="logo-hub" src="../assets/Logo-rectangular_negro-dorado.png" alt="Logo de ISO Hub" class="sm:w-24 md:w-32 lg:w-40 xl:w-40">
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
    .bg-login{
        background-image: url(../assets/fondo-login-legalaid.png);
        background-size: cover;
    }
    .bg-login-2{
        background-image: url(../assets/imagen-login-legalaid.png);
        background-size: cover;
    }
    .firm{font-family:'Amalfi Coast';}
    .fade-enter-active,
    .fade-leave-active {
        transition: opacity 0.3s ease;
    }
    .fade-enter-from,
    .fade-leave-to {
        opacity: 0;
    }
</style>

<script>
import {UserIcon} from '@heroicons/vue/solid';
import {LockClosedIcon} from '@heroicons/vue/solid';
import {XCircleIcon} from '@heroicons/vue/solid'
import axios from 'axios';
const urlLogin ='https://app.isohub.org/public/api/auth/login';
const urlUser = 'https://app.isohub.org/public/api/auth/me';
export default {
    name:'Login',
    data(){
        return{
            title:'LEGAL - AID',
            email:null,
            password:null,
            remember:null,
            error:false
        }
    },
    components:{
        UserIcon,
        LockClosedIcon,
        XCircleIcon
    },
    methods:{
        login(){
            const header = {
                'email':this.email,
                'password':this.password
            };
            axios.post(urlLogin,header)
                .then(data=>{
                    sessionStorage.token=data.data.access_token
                })
                .then(()=>{
                    this.setRemember();
                    /* const header = {"Authorization": `Bearer ${sessionStorage.getItem('token')}`} */
                    axios.defaults.headers.common['Authorization'] = `Bearer ${sessionStorage.getItem('token')}`
                    axios.post(urlUser)
                        .then(user=>{
                            sessionStorage.user=user.data.user
                            sessionStorage.name=user.data.name
                            sessionStorage.id=user.data.id
                            this.$router.replace(`/user-dashboard/user/${sessionStorage.getItem('id')}`)
                            this.$store.dispatch('doLogin',user.data.email)
                            /*en la ruta se debe usar al inicio la barra lateral para q funcione*/
                        })
                })
                .catch(()=>this.error=true)
        },
        setRemember(){
            if(this.remember){
                /* let credentials = {
                    Authorization: sessionStorage.getItem('token')
                } */
                this.$cookies.set('remember',sessionStorage.getItem('token'))
                this.$store.dispatch('doRemember')
                console.log(this.$store.state.remember)
            }
        },
        close(){
            this.error=false
        }
    }   
}
</script>