<template>
    <section>
        <div class="bg-black bg-opacity-40 mt-4 md:mt-6"><h2 class="text-white text-left pl-14 md:text-3xl"> Selecciona una de las tres opciones y revisa la sección de tu interés: </h2></div>
        <div class="flex flex-col md:flex-row m-2">
            <div class="flex-1 bg-white bg-opacity-70 md:mt-6 md:mr-6 md:ml-14 py-4">
                <h3 class="text-black md:text-2xl p-4">Identificación de requisitos legales</h3>
                <div class="flex justify-center	">
                    <img src="../assets/lupa2.svg" alt="">
                </div>
                <div class="bg-black bg-opacity-30">
                    <p class="text-white text-center p-4 md:text-2xl">
                        Revisa qué <br> dispositivos y requisitos legales le aplican a tu organización
                    </p>
                </div>
            </div>
            <div class="flex-1 bg-white bg-opacity-70 mt-4 md:mt-6 md:mr-6 py-4">
                <h3 class="text-black md:text-2xl p-4">Evaluación de <br> requisitos legales</h3>
                <div class="flex justify-center	">
                    <Evaluacion/>
                </div>
                <div class="bg-black bg-opacity-30">
                    <p class="text-white text-center p-4 md:text-2xl">
                        Revisa en qué estado de cumplimiento se 
                        encuentra tu organización según los requisitos 
                        legales aplicables
                    </p>
                </div>
            </div>
            <div class="flex-1 bg-white bg-opacity-70 mt-4 md:mt-6 md:mr-14 py-4">
                <h3 class="text-black md:text-2xl p-8">Planes de acción</h3>
                <div class="flex justify-center	">
                    <Planes/>
                </div>
                <div class="bg-black bg-opacity-30">
                    <p class="text-white text-center p-4 md:text-2xl">
                        Revisa las medidas que se han planificado
                        para poder cumplir los requisitos legales pendientes
                    </p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import Lupa from '/src/components/svg/Lupa.vue';
import Evaluacion from '/src/components/svg/Evaluacion.vue';
import Planes from '/src/components/svg/Planes.vue';
export default {
    name:'UserSections',
    data(){
        return{

        }
    },
    components:{
        Lupa,
        Evaluacion,
        Planes
    }
}
</script>