<template>
    <header>
        <div class="bg-line h-3"></div>
        <nav class="flex flex-nowrap justify-between items-center bg-black">
            <router-link to="/user-dashboard/user/:id" class="text-white">LEGAL - AID</router-link>
            <div class="flex">
                <LogoutIcon class="w-10 h-10 text-white"/>
                <a href="#" v-on:click="logout" class="text-white">Cerrar sesión</a>
            </div>
            
        </nav>
    </header>
</template>
<style scoped>
    .bg-line{
        background: rgba(190, 140, 41, 1);
    }
</style>
<script>
import {LogoutIcon} from '@heroicons/vue/solid'
export default{
    name:'UserHeader',
    data(){
        return{

        }
    },
    methods:{
        logout(){
            this.$cookies.remove('remember');
            sessionStorage.removeItem('user');
            sessionStorage.removeItem('name');
            sessionStorage.removeItem('id');
            this.$router.replace('/');
        }
    },
    components:{
        LogoutIcon
    }
}
</script>
