<template>
    <footer class="absolute bottom-0 left-0 right-0 bg-black">
        <div class="flex justify-between">
            <a href="#" class="text-white">Soporte técnico</a>
            <a href="#" class="text-white">ISO Hub Company</a>
        </div>
    </footer>
</template>

<script>
export default {
    name:'UserFooter',
    data(){
        return{

        }
    }
}
</script>