<template>
  <router-view v-slot="{Component}">
    <transition name="fade-router" mode="out-in"><component :is="Component"/></transition>
  </router-view>
</template>

<script>
  import axios from 'axios';
  const urlApiUser = 'https://app.isohub.org/public/api/auth/me';
  export default{
    created(){
      console.log(this.$store.state.remember)
      if(this.$cookies.get('remember')){
        /* axios.defaults.headers.common['Authorization'] = `Bearer ${sessionStorage.getItem('token')}` */
        axios.defaults.headers.common['Authorization'] = `Bearer ${this.$cookies.get('remember')}`
        axios.post(urlApiUser)
          .then(user=>{
            sessionStorage.user=user.data.user
            sessionStorage.name=user.data.name
            sessionStorage.id=user.data.id
            this.$router.replace(`/user-dashboard/user/${sessionStorage.getItem('id')}`)
            this.$store.dispatch('doLogin',user.data.email)
            console.log(this.$cookies.get('remember'))
            /*en la ruta se debe usar al inicio la barra lateral para q funcione*/
          })
      }
    }
  }
</script>

<style>
@font-face {
  font-family: 'Amalfi Coast';
  src: url('/src/assets/fuentes/AmalfiCoast.ttf') format('truetype');
}
#app {
  font-family: Louis, George, Café;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.fade-router-enter-active,
.fade-router-leave-active {
    transition: opacity 0.5s ease;
}
.fade-router-enter-from,
.fade-router-leave-to {
    opacity: 0;
}
</style>
